## 応募者登録フォーム情報→shinseishaForm
## 応募者登録情報→$userContainer.shinseishaInfo
#set ($info= $userContainer.shinseishaInfo)
##$info
##$shinseishaForm
#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">

## スクリプト*************************************
<script language=javascript>
<!--
	/* 応募情報管理リンク */
	function onLinkClick(){
		document.link_form.action="$link.setAction("/gyomu/shinseishaKanri/searchList")";
		document.link_form.startPosition.value= 0;
		document.link_form.submit();
	}
//-->
</script>
## ***********************************************

<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞<a href="javascript:onLinkClick()">応募者管理</a>（応募者情報検索＞応募者情報一覧＞<b>応募者情報修正</b><font size="1">＞応募者情報修正確認＞応募者情報修正完了</font>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       応募者情報修正</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->


<!-- 本文ここから -->
        #errorMarkup()
<!-- <p class="comment"><font color="#FF0000">*</font>のついた項目は必須項目です。</p> -->

        <form method="POST" action="$link.setAction('/gyomu/shinseishaKanri/editCheck')" id=form1 name=form1>

<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th align="left">ID</th>
     <td colspan="2">$!escape.getText($!userContainer.shinseishaInfo.shinseishaId)</td>
    </tr>
## 2005/03/15 削除 ここから-------------------------------
## 理由 ローマ字氏名項目削除のため
##  <tr>
##   <th rowspan="3" align="left" width="20%">氏名</th>
##   <td colspan="2" width="80%">（漢字等）<font color="#FF0000">*</font>（姓）<INPUT size="20" name="nameKanjiSei" value="$!escape.getText($!shinseishaForm.nameKanjiSei)">　（名）<INPUT size="20" name="nameKanjiMei" value="$!escape.getText($!shinseishaForm.nameKanjiMei)"><br>
##    　　　（JIS第1水準・第2水準にない文字の場合、全角カタカナで入力してください。）
##   </td>
##  </tr>
##  <tr>
##   <td colspan="2">（フリガナ）<font color="#FF0000">*</font>（姓）<INPUT size="20" name="nameKanaSei" value="$!escape.getText($!shinseishaForm.nameKanaSei)">　（名）<INPUT size="20" name="nameKanaMei" value="$!escape.getText($!shinseishaForm.nameKanaMei)"><br>
##    　　　（全角カタカナで入力してください。）
##   </td>
##  </tr>
##  <tr>
##   <td colspan="2">（ローマ字）<font color="#FF0000">*</font>（姓）<INPUT size="20" name="nameRoSei" value="$!escape.getText($!shinseishaForm.nameRoSei)">　（名）<INPUT size="20" name="nameRoMei" value="$!escape.getText($!shinseishaForm.nameRoMei)"><br>
##    　　　（半角英字で入力してください。姓は大文字で入力してください。）
##   </td>
##  </tr>
## 削除 ここまで-------------------------------------------
    
## 2005/03/15 追加 ここから---------------------------------
## 理由 画面変更による名称変更のため
     <tr>
     <th rowspan="2" align="left" width="20%">氏名</th>
     <td colspan="2" width="80%">（漢字等）（姓）$!escape.getText($!shinseishaForm.nameKanjiSei)　（名）$!escape.getText($!shinseishaForm.nameKanjiMei)<br>
     </td>
    </tr>
    <tr>
     <td colspan="2">（フリガナ）（姓）$!escape.getText($!shinseishaForm.nameKanaSei)　（名）$!escape.getText($!shinseishaForm.nameKanaMei)<br>
     </td>
    </tr>
## 追加 ここまで---------------------------------------------

    <tr>
     <th align="left">研究者番号</th>
     <td colspan="2">$!escape.getText($!shinseishaForm.kenkyuNo)</td>
    </tr>
    <tr>
     <th align="left">生年月日</th>
     <td colspan="2">$!dateFormat.format($!escape.getText($!shinseishaForm.birthday))</td>
    </tr>
    <tr>
     <th align="left">所属研究機関名</th>
     <td width="20%">（番号）$!escape.getText($!shinseishaForm.shozokuCd)</td>
     <td width="60%">（和文）$!escape.getText($!shinseishaForm.shozokuName)<br>（英文）$!escape.getText($!shinseishaForm.shozokuNameEigo)</td>
    </tr>
    <tr>
     <th align="left">部局名</th>
     <td>（番号）$!escape.getText($!shinseishaForm.bukyokuCd)</td>
     <td>（和文）$!escape.getText($!shinseishaForm.bukyokuName)</td>
    </tr>
<!--
    <tr>
     <th align="left">部局種別</th>
     <td colspan="2">
      <select name="bukyokuShubetuCd" size="1">#showOptions($shinseishaForm.shubetuCdList $shinseishaForm.bukyokuShubetuCd)</select>　（<INPUT size="20" name="bukyokuShubetuName" value="$!escape.getText($!shinseishaForm.bukyokuShubetuName)">）</td>
    </tr>
-->
    <tr>
     <th align="left">職名</th>
     <td colspan="2">$!escape.getText($!shinseishaForm.shokushuNameKanji)</td>
    </tr>
     <th align="left">応募資格</th>
	 #if($!escape.getText($!shinseishaForm.ouboShikaku)=="1")
     <td colspan="2">科研費応募資格（新）</td>
	 #elseif($!escape.getText($!shinseishaForm.ouboShikaku)=="2")
	 <td colspan="2">科研費応募資格（旧）</td>
	 #elseif($!escape.getText($!shinseishaForm.ouboShikaku)=="3")
	 <td colspan="2">育休等応募資格</td>
	 #else
	 <td colspan="2"></td>	
	 #end
    <tr>
     <th align="left">有効期限</th>
     <td colspan="2"><font color="#FF0000">*</font><INPUT size="5" name="yukoDateYear" value="$!escape.getText($!shinseishaForm.yukoDateYear)">年
      <select size="1" name="yukoDateMonth">#monthOptions($shinseishaForm.yukoDateMonth)</select>月
      <select size="1" name="yukoDateDay">#dayOptions($shinseishaForm.yukoDateDay)</select>日
     </td>
    </tr>
    <tr>
     <th align="left">推薦</th>
     <td colspan="2">
      <select name="hikoboFlg">#showOptions($shinseishaForm.hikoboFlgList $shinseishaForm.hikoboFlg)</select>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
<!-- 本文ここまで -->
 
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" src="$path/images/bt_ok.gif" width=114 height=28 border="0" alt="OK"></td>
       <td><a href="$link.setAction('/gyomu/shinseishaKanri/searchList')"><img src="$path/images/bt_cancel.gif" width=114 height=28 border="0" alt="キャンセル"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
        </form>
        <form name="link_form" action="" method="post">
			<INPUT type="hidden" name="$form.cancelName" value="">
			<INPUT type="hidden" name="startPosition" >
		</form>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>