<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">
<beans>
	<!--  action begin -->

	
	<!-- 电话查询 -->
	<bean name="/callcenter/cclog/calloutLog" class="et.bo.callcenter.calloutlog.action.CallOutAction"
		scope="singleton">
		<property name="calloutService">
			<ref bean="CallOutService"/>
		</property>
	</bean>
	<bean id="CallOutService"
		class="et.bo.callcenter.calloutlog.service.impl.CallOutImpl"
		scope="singleton">
		<property name="dao">
			<ref bean="BaseDao" />
		</property>
		<property name="ks">
			<ref bean="KeyService" />
		</property>
		<property name="cts">
			<ref bean="ClassTreeService" />
		</property>
	</bean>
</beans>