<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">

<beans>
	
	<bean name="/eventResult/eventResult" class="et.bo.eventResult.action.EventResultAction" scope="singleton">
		<property name="eventResultService">
			<ref bean="EventResultService"/>
		</property>
		
	</bean>
	<bean id="EventResultService" class="et.bo.eventResult.service.impl.EventResultServiceImpl" scope="singleton">
		<property name="dao">
			<ref bean="BaseDao"/>
		</property>
		<property name="ks">
			<ref bean="KeyService"/>
		</property>
		<property name="cts">
			<ref bean="ClassTreeService"/>
		</property>
	</bean>
	
</beans>