<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">

<beans>
	<!-- 客户信息 -->
	<bean name="/callcenter/userInfo" class="et.bo.callcenter.userInfo.action.UserInfoAction" scope="singleton">
		<property name="uis">
			<ref bean="UserInfoService"/>
		</property>
		<property name="cts">
			<ref bean="ClassTreeService"/>
		</property>
	</bean>
	
	
	<bean id="UserInfoService" class="et.bo.callcenter.userInfo.service.impl.UserInfoImpl" scope="singleton">
		<property name="dao">
			<ref bean="BaseDao"/>
		</property>
		<property name="ks">
			<ref bean="KeyService"/>
		</property>
		<property name="cts">
			<ref bean="ClassTreeService"/>
		</property>
	</bean>
	
</beans>