<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
#parse( $commonSetting )
<html>
<head>

##スクリプト

<SCRIPT LANGUAGE=javascript>
<!--
function onCsvOutClick(masterShubetu){
	document.csvout_form.action="$link.setAction('/system/masterTorikomi/csvOut')";
	document.csvout_form.masterShubetu.value = masterShubetu;
    document.csvout_form.submit();
}
//-->
</SCRIPT>

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js">
</script>
</head>

## 変数の置き換え
#set ($combo= $masterTorikomiForm.shubetuComboList)
#set ($list= $masterTorikomiForm.masterKanriList)

<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual5.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/system/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#339999" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/system/showMainMenu')">システム管理者向けメニュー</a>＞<b>マスタ取り込み</b><font size="1">＞マスタ取り込み完了</font></font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       マスタ取り込み</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

    <form method="POST" action="$link.setAction('/system/masterTorikomi/torikomiInvoke')" id=form1 name=form1 enctype="multipart/form-data">

<!-- 本文ここから -->

        #errorMarkup()

<p align="left">取り込むファイルを選択し、[OK]ボタンをクリックしてください。</p>
<p class="comment"><font color="#FF0000">※[新規]でマスタ取り込みを行うと取り込み前の情報は削除されます。<br>
　 [更新]でマスタ取り込みを行えるのは審査員マスタのみです。<br>
　 [更新]の場合は、取り込み前のマスタ情報は削除されますが、ID・パスワード情報は引き継がれます。</font></p>

 <p align="center">マスタ種別<select size="1" name="masterShubetu">
   #showOptions($combo $masterTorikomiForm.masterShubetu)
  </select>
   #set ($name= "shinkiKoshinFlg")
   #showRadios($name $masterTorikomiForm.shinkiKoshinList $!masterTorikomiForm.shinkiKoshinFlg)
 </p>
 <p align="center"><input type="file" size="45" name="uploadCsv"></p>

<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
   
   <!--7/23　飼沼が手直し　start-->
    <tr>
     <th>マスタ種別</th>
     <th>取り込み日時</th>
     <th>取り込み件数</th>
     <th>CSVファイル</th>     
    </tr>
   <!-- 手直し end -->
    
    #foreach($user in $list)	
    <tr>
     <td>$!escape.getText($!user.MASTER_NAME)
       #if($!user.IMPORT_FLG.toString() == "0")
		[新規]
       #elseif($!user.IMPORT_FLG.toString() == "1")
        [更新]
       #end
     </td>
     <td>$!escape.getText($!user.IMPORT_DATE)</td>
     <td>$!escape.getText($!user.KENSU)件</td>
     <td>
     #if($!user.CSV_PATH != "")
         <a href="javascript:onCsvOutClick('$user.MASTER_SHUBETU')"><img src="$path/images/bt_download.gif" alt="ダウンロード" width="64" height="24" border="0"></a>
     #end
     </td>
    </tr>
    #end
   </table>
   </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
<!-- 本文ここまで -->

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" src="$path/images/bt_ok.gif" width=114 height=28 border="0" alt="OK"></td>
       <!--td><a href=""><img src="$path/images/bt_ok.gif" width=114 height=28 border="0" alt="OK"></a></td-->
       <td><a href="$link.setAction('/system/showMainMenu')"><img src="$path/images/bt_cancel.gif" width=114 height=28 border="0" alt="キャンセル"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/system/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</form>

##隠しフォーム情報----------
<form name="csvout_form" action="" method="post">
	<input type="hidden" name="masterShubetu" >
</form>
##----------
</body>
</html>