<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

## ***********************************************
#parse( $commonSetting )
## ***********************************************

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       審査員情報検索</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

<!-- 本文ここから -->
<p align="left">審査員情報の検索を行います。</p>
<p align="left">検索条件を入力して[検索実行]ボタンをクリックしてください。</p>
#errorMarkup()
<form method="POST" action="$link.setAction('/gyomu/warifuri/shinsainSearchList')">
<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th width="30%" align="left">研究種目名</th>
     <td width="70%">
      <select size="1" name="jigyoKubun">
 		 #showOptions($warifuriShinsainSearchForm.jigyoKubunList $warifuriShinsainSearchForm.jigyoKubun)
	  </select>
      [完全一致]
     </td>
    </tr>
    <tr>
     <th width="30%" align="left">審査員割振番号</th>
     <td width="70%"><input size="30"  name="shinsainNo" value="$!escape.getText($!warifuriShinsainSearchForm.shinsainNo)">　[完全一致]</td>
    </tr>
    <tr>
     <th align="left">審査員名</th>
     <td>（漢字等）（姓）<INPUT size="20" name="nameKanjiSei" value="$!escape.getText($!warifuriShinsainSearchForm.nameKanjiSei)">　（名）<INPUT size="20"  name="nameKanjiMei" value="$!escape.getText($!warifuriShinsainSearchForm.nameKanjiMei)"> 
      [部分一致]</td>  
    </tr>
    <tr>
     <th align="left">所属研究機関番号</th>
     <td><input size="8"  name="shozokuCd" value="$!escape.getText($!warifuriShinsainSearchForm.shozokuCd)">　<a href="$link.setAction('/kikanList')" target="_blank"><img src="$path/images/bt_list.gif" width=41 height=22 alt="一覧" border="0"></a> [完全一致]</td>
    </tr>
    <tr>
     <th align="left">細目番号・海外分野（基盤研究等）</th>
     <td><input size="8"  name="bunkaSaimokuCd" value="$!escape.getText($!warifuriShinsainSearchForm.bunkaSaimokuCd)">　<a href="$link.setAction('/saimokuList')" target="_blank"><img src="$path/images/bt_list.gif" width=41 height=22 alt="一覧" border="0"></a> [完全一致]
	 <br>
	 <font color="#ff0000">※海外分野は前ゼロ4桁で入力してください。</font>	
	 </td>   		
	</tr>
  </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
<!-- 本文ここまで -->
	
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" src="$path/images/bt_search.gif" name="submit" width=114 height=28 border="0" alt="検索実行"></td>
       <td><a href="javascript:window.close()"><img src="$path/images/bt_close.gif" width=114 height=28 border="0" alt="閉じる"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- ログイン画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="4" background="$path/images/footer_login2.gif"> <IMG SRC="$path/images/footer_login1.gif" width=4 height=11 ALT=""></td>
      <td background="$path/images/footer_login2.gif"><IMG SRC="$path/images/footer_login2.gif" width=4 height=11 ALT=""></td>
      <td width="4" align="right" background="$path/images/footer_login2.gif"> <IMG SRC="$path/images/footer_login3.gif" width=4 height=11 ALT=""></td>
     </tr>
    </table>
    <!-- ログイン画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</form>
</body>
</html>