## 審査員登録フォーム情報→shinsainForm
## 審査員登録情報→$userContainer.shinsainInfo
#set ($info= $userContainer.shinsainInfo)
##$info
##$shinsainForm
#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞<a href="$link.setAction('/gyomu/shinsainKanri/menuGakuso')">審査員管理</a>（事業選択＞審査員管理メニュー＞審査員情報検索＞審査員情報一覧＞<b>審査員情報修正</b><font size="1">＞審査員情報修正確認＞審査員情報修正完了</font>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       審査員情報修正</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->


<!-- 本文ここから -->
        #errorMarkup()
<p class="comment"><font color="#FF0000">*</font>のついた項目は必須項目です。</p>

        <form method="POST" action="$link.setAction('/gyomu/shinsainKanri/editCheckGakuso')" id=form1 name=form1>

<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th align="left" width="20%">研究種目名</th>
     <td colspan="2" width="80%">学術創成研究費</td>
    </tr>
    <tr>
     <th align="left">データ更新日</th>
     <td colspan="2">$!dateFormat.format($!escape.getText($!info.koshinDate))</td>
    </tr>
    <tr>
     <th align="left">ID</th>
     <td colspan="2">$!escape.getText($!info.shinsainId)</td>
    </tr>
    <tr>
     <th align="left">審査員割振番号</th>
     <td colspan="2">$!escape.getText($!info.shinsainNo)</td>
    </tr>
    <tr>
     <th align="left" rowspan="2">氏名</th>
     <td colspan="2">（漢字等）<font color="#FF0000">*</font>（姓）<input size="20" name="nameKanjiSei" value="$!escape.getText($!shinsainForm.nameKanjiSei)">　（名）<input size="20" name="nameKanjiMei" value="$!escape.getText($!shinsainForm.nameKanjiMei)"><br>
      　　　（JIS第1水準・第2水準にない文字の場合、カタカナで入力してください。）</td>
    </tr>
    <tr>
     <td colspan="2">（フリガナ）（姓）<input size="20" name="nameKanaSei" value="$!escape.getText($!shinsainForm.nameKanaSei)">　（名）<input size="20" name="nameKanaMei" value="$!escape.getText($!shinsainForm.nameKanaMei)"></td>
    </tr>
    <tr>
     <th align="left" width="20%">所属研究機関名</th>
     <td width="20%">（番号）<font color="#FF0000">*</font><INPUT size="6" name="shozokuCd" value="$!escape.getText($!shinsainForm.shozokuCd)">　<a href="$link.setAction('/kikanList')" target="_blank"><img src="$path/images/bt_list.gif" width=41 height=22 alt="一覧" border="0"></a></td>
     <td width="60%">（和文）<INPUT size="30" name="shozokuName" value="$!escape.getText($!shinsainForm.shozokuName)"><br>（番号が99999「その他」の場合のみ記入してください。）</td>
    </tr>
    <tr>
     <th align="left">部局名</th>
     <td colspan="2"><input size="34" name="bukyokuName" value="$!escape.getText($!shinsainForm.bukyokuName)"></td>
    </tr>
    <tr>
     <th align="left">職名</th>
     <td colspan="2"><input size="34" name="shokushuName" value="$!escape.getText($!shinsainForm.shokushuName)"></td>
    </tr>
    <tr>
     <th align="left">連絡先</th>
     <td colspan="2">〒<INPUT size="10" name="sofuZip" value="$!escape.getText($!shinsainForm.sofuZip)">　(住所)<INPUT size="69" name="sofuZipaddress" value="$!escape.getText($!shinsainForm.sofuZipaddress)"><br><br>
      電話番号：<input size="20" name="shozokuTel" value="$!escape.getText($!shinsainForm.shozokuTel)">　　　FAX番号：<input size="20" name="shozokuFax" value="$!escape.getText($!shinsainForm.shozokuFax)"><br><br>
      Email：<INPUT size="50" name="sofuZipemail" value="$!escape.getText($!shinsainForm.sofuZipemail)"><br>
     </td>
    </tr>
    <tr>
     <th align="left">URL</th>
     <td colspan="2"><INPUT size="40" name="url" value="$!escape.getText($!shinsainForm.url)"></td>
    </tr>
    <tr>
     <th align="left">専門分野</th>
     <td colspan="2"><INPUT size="40" name="senmon" value="$!escape.getText($!shinsainForm.senmon)"></td>
    </tr>
    <tr>
      <th align="left">備考</th>
      <td colspan="2"><textarea rows="2" name="biko" cols="60">$!escape.getText($!shinsainForm.biko)</textarea></td>
    </tr>
    <tr>
     <th align="left">有効期限</th>
     <td colspan="2"><font color="#FF0000">*</font><INPUT size="5" name="yukoDateYear" value="$!escape.getText($!shinsainForm.yukoDateYear)">年
      <select size="1" name="yukoDateMonth">#monthOptions($shinsainForm.yukoDateMonth)</select>月
      <select size="1" name="yukoDateDay">#dayOptions($shinsainForm.yukoDateDay)</select>日
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
<!-- 本文ここまで -->
	<input type="hidden" name="shinsainNo" value="$!info.shinsainNo">

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" src="$path/images/bt_ok.gif" width=114 height=28 border="0" alt="OK"></td>
       <td><a href="$link.setAction('/gyomu/shinsainKanri/searchListGakuso')"><img src="$path/images/bt_cancel.gif" width=114 height=28 border="0" alt="キャンセル"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
        </form>
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>