## 審査員登録フォーム情報→shinsainForm
## 審査員登録情報→$userContainer.shinsainInfo
#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞<a href="$link.setAction('/gyomu/shinsainKanri/menuGakuso')">審査員管理</a>（事業選択＞審査員管理メニュー＞審査員情報検索＞審査員情報一覧＞<b>パスワード再設定</b><font size="1">＞パスワード再設定通知書</font>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       パスワード再設定</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

<!-- 本文ここから -->
      #set ($info= $userContainer.shinsainInfo)
<p align="left">以下の審査員のパスワードを再設定します。</p>
<p align="left">この処理を行うと現在のパスワードは無効になります。<br>よろしければ、[OK]ボタンをクリックしてください。</p>
      #errorMarkup()

   <form method="POST" action="$link.setAction('/gyomu/shinsainKanri/reconfigurePasswordSaveGakuso')" id=form1 name=form1>

<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th align="left" width="20%">研究種目名</th>
     <td colspan="2" width="80%">学術創成研究費</td>
    </tr>
    <tr>
     <th align="left">データ更新日</th>
     <td colspan="2">$!dateFormat.format($!escape.getText($!info.koshinDate))</td>
    </tr>
    <tr>
     <th align="left">ID</th>
     <td colspan="2">$!escape.getText($!info.shinsainId)</td>
    </tr>
    <tr>
     <th align="left">審査員割振番号</th>
     <td colspan="2">$!escape.getText($!info.shinsainNo)</td>
    </tr>
    <tr>
     <th align="left" rowspan="2">氏名</th>
     <td colspan="2">（漢字等）（姓）$!escape.getText($!info.nameKanjiSei)　（名）$!escape.getText($!info.nameKanjiMei)</td>
    </tr>
    <tr>
     <td colspan="2">（フリガナ）（姓）$!escape.getText($!info.nameKanaSei)　（名）$!escape.getText($!info.nameKanaMei)</td>
    </tr>
    <tr>
     <th align="left">所属研究機関名</th>
     <td>（番号）$!escape.getText($!info.shozokuCd)</td>
     <td>（和文）$!escape.getText($!info.shozokuName)</td>
    </tr>
    <tr>
     <th align="left">部局名</th>
     <td colspan="2">$!escape.getText($!info.bukyokuName)</td>
    </tr>
    <tr>
     <th align="left">職名</th>
     <td colspan="2">$!escape.getText($!info.shokushuName)</td>
    </tr>
    <tr>
     <th align="left">連絡先</th>
     <td colspan="2">〒$!escape.getText($!info.sofuZip)　(住所)$!escape.getText($!info.sofuZipaddress)<br><br>
      電話番号：$!escape.getText($!info.shozokuTel)　　　FAX番号：$!escape.getText($!info.shozokuFax)<br><br>
      Email：$!escape.getText($!info.sofuZipemail)
     </td>
    </tr>
    <tr>
     <th align="left">URL</th>
     <td colspan="2">$!escape.getText($!info.url)</td>
    </tr>
    <tr>
     <th align="left">専門分野</th>
     <td colspan="2">$!escape.getText($!info.senmon)</td>
    </tr>
    <tr>
     <th align="left">備考</th>
     <td colspan="2">$!escape.getText($!info.biko)</td>
    </tr>
    <tr>
     <th align="left">有効期限</th>
     <td colspan="2">$!dateFormat.format($!escape.getText($!info.yukoDate))</td>
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
<font color="#ff0000">[OK]ボタンをクリックすると、「パスワード再設定通知書」が表示されます。<br>
審査員のパスワードは「パスワード再設定通知書」にしか表示されませんので、印刷して審査員へ渡してください。<br>
※「名前をつけて保存」でHTMLページを保存しても「パスワード再設定通知書」の内容は保存できませんので、必ず印刷してください。</font>
<!-- 本文ここまで -->

        ## A hidden form field with the transaction token
        <input type="hidden" name="$form.tokenName" value="$form.token">
		##

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" src="$path/images/bt_ok.gif" width=114 height=28 border="0" alt="OK"></td>
       <td><a href="$link.setAction('/gyomu/shinsainKanri/searchListGakuso')"><img src="$path/images/bt_cancel.gif" width=114 height=28 border="0" alt="キャンセル"></a></td>
      </tr>
     </table>
    </div> 
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
       </form>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>