## 所属研究機関登録フォーム情報→shozokuForm
## 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

## ************************************************
#parse( $commonSetting )
#set ($info= $userContainer.shozokuInfo)
##$shozokuForm
## ***********************************************

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual5.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/system/logoff')"><img src="$path/images/header_logout.gif" ALT="ログアウト" width=72 height=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#339999" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/system/showMainMenu')">システム管理者向けメニュー</a>＞<a href="$link.setAction('/system/shozokuKanri/showMenu')">所属研究機関管理</a>（所属研究機関管理メニュー＞<b>所属研究機関登録</b><font size="1">＞所属研究機関登録確認＞所属研究機関登録通知書＞証明書発行用CSVファイル出力</font>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width=61 height=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       所属研究機関登録</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width=213 height=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->
	<p align="left">所属研究機関番号を入力し、[表示]ボタンをクリックしてください。</p>
    #errorMarkup()
    <form method="post" action="$link.setAction('/system/shozokuKanri/add')">
      ## validatorのチェックページの指定
　　 <input type="hidden" name="page" value="1">
	<!-- 本文ここから -->
	<p align="center">所属研究機関番号　             
	 <input size="5" name="shozokuCd" value="$!escape.getText($!shozokuForm.shozokuCd)">
	 <input type="image" src="$path/images/bt_indicate.gif" alt="表示" width="64" height="24" border="0">&nbsp;&nbsp;<a href="$link.setAction('/kikanList')" target="_blank"><img src="$path/images/bt_list.gif" width=41 height=22 alt="一覧" border="0"></a>
	</p>
	<p class="comment"><font color="#FF0000" size="2">*</font>のついた項目は必須項目です。</font></p>
	<!-- 一覧用テーブルここから -->
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
	 <tr>
	  <td>
	   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
	    <tr>
	     <th align="left" width="20%">所属研究機関名</th>
	     <td width="20%">（番号）$!escape.getText($!info.shozokuCd)</td>
	     <td width="30%">（和文）$!escape.getText($!info.shozokuName)</td>
	     <td width="30%">（英文）<font color="#FF0000" size="2">*</font><input size="34" name="shozokuNameEigo" value="$!escape.getText($!info.shozokuNameEigo)" disabled></td>
	    </tr>
	    <tr>
	     <th align="left">担当部課名</th>
	     <td colspan="3"><font color="#FF0000">*</font><input size="34" name="bukyokuName" value="$!escape.getText($!shozokuForm.bukyokuName)" disabled></td>
	    </tr>
	    <tr>
	     <th align="left">責任者名</th>
	     <td colspan="3">（姓）<input size="20" name="sekininshaNameSei" value="$!escape.getText($!shozokuForm.sekininshaNameSei)" disabled>
	      　（名）<input size="20" name="sekininshaNameMei" value="$!escape.getText($!shozokuForm.sekininshaNameMei)" disabled><br>
     		（JIS第1水準・第2水準にない文字の場合、カタカナで入力してください。）
   	      </td>
	    </tr>
	    <tr>
	     <th align="left">責任者役職</th>
	     <td colspan="3"><input size="34" name="sekininshaYaku" value="$!escape.getText($!shozokuForm.sekininshaYaku)" disabled></td>
	    </tr>
	    <tr>
	     <th align="left">担当者係名</th>
	     <td colspan="3"><input size="34" name="kakariName" value="$!escape.getText($!shozokuForm.kakariName)" disabled></td>
	    </tr>
	    <tr>
	     <th align="left">担当者名</th>
	     <td colspan="3"><font color="#FF0000">*</font>（姓）<input size="20" name="tantoNameSei" value="$!escape.getText($!shozokuForm.tantoNameSei)" disabled>
	     　（名）<input size="20" name="tantoNameMei" value="$!escape.getText($!shozokuForm.tantoNameMei)" disabled><br>
     		（JIS第1水準・第2水準にない文字の場合、カタカナで入力してください。）
     	</td>
	    </tr>
	    <tr>
	     <th align="left">担当者連絡先</th>
	     <td colspan="3">〒<input size="10" name="tantoZip" value="$!escape.getText($!shozokuForm.tantoZip)" disabled>　(住所)<font color="#FF0000">*</font><input size="69" name="tantoAddress" value="$!escape.getText($!shozokuForm.tantoAddress)" disabled><br><br>
	      電話番号：<font color="#FF0000">*</font><input size="20" name="tantoTel" value="$!escape.getText($!shozokuForm.tantoTel)" disabled> 　　FAX番号：<input size="20" name="tantoFax" value="$!escape.getText($!shozokuForm.tantoFax)" disabled><br><br>
	      Email：<font color="#FF0000">*</font><input size="50" name="tantoEmail" value="$!escape.getText($!shozokuForm.tantoEmail)" disabled><br><br>
		  Email2：<input size="50" name="tantoEmail2" value="$!escape.getText($!shozokuForm.tantoEmail2)" disabled>
	     </td>
	    </tr>
	    <tr>
	     <th align="left">有効期限</th>
	     <td colspan="3"><font color="#FF0000">*</font><input size="5" name="yukoDateYear" value="$!escape.getText($!shozokuForm.yukoDateYear)" disabled>年
	       <select size="1" name="yukoDateMonth" disabled>
			#monthOptions($!shozokuForm.yukoDateMonth)
	        </select>月<select size="1" name="yukoDateDay" disabled>
			#dayOptions($!shozokuForm.yukoDateDay)
	       </select>日
	     </td>
	    </tr>
	    
## 2005/03/11 追加 ここから ----------------------------------------
## 理由 項目「部局担当者人数」の追加	    
	    <tr>
	     <th align="left">部局担当者人数</th>
	     <td colspan="3"><font color="#FF0000">*</font><input size="8" name="bukyokuNum" value="$!escape.getText($!shozokuForm.bukyokuNum)" disabled>人</td>
	    </tr>
## 追加 ここまで  --------------------------------------------------
	    
	    <tr>
	     <th align="left">備考</th>
	     <td colspan="3"><textarea  rows="2" cols="60" name="biko" disabled>$!escape.getText($!shozokuForm.biko)</textarea></td>
	    </tr>
	   </table>
	  </td>
	 </tr>
	</table>
	<!-- 一覧用テーブルここまで-->
	<br>
	<!-- ボタン用テーブルここから -->
	<div align="center">
	 <table border="0" cellpadding="0" cellspacing="4">
	  <tr>
	   <td><a href="$link.setAction('/system/shozokuKanri/showMenu')"><img src="$path/images/bt_bk_2menu.gif" width=228 height=28 border="0" alt="所属研究機関管理メニューに戻る"></a></td>
	  </tr>
	 </table>
	</div>
	<!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width=8 height=26 alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/system/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width=72 height=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width=8 height=26 alt=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</form>
</body>
</html>