<!-- 2006/10/24 張志男  新規  利害関係入力完了-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>	
## ************************************************
#parse( $commonSetting )
## ***********************************************
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="http://www-shinsei.jsps.go.jp/kakenhi/" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/shinsa/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width="72" height="20" border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#669966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/shinsa/shinsaJigyo/shinsaJigyoList')">審査対象事業一覧</a>＞<a href="$link.setAction('/shinsa/shinsaJigyo/riekiSohanList')">利害関係該当課題一覧</a>＞<b>利害関係入力完了</b></font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td width="92" valign="bottom"><img src="$path/images/title_img1.gif" width="92" height="53" alt=""></td>
      <td width="98%" valign="bottom" class="menuTitle">利害関係入力完了</td>
      <td width="214" valign="bottom"><img src="$path/images/title_img5.gif" width="214" height="38" alt=""></td>
     </tr>
     <tr>
      <td width="92"><img src="$path/images/title_img2.gif" width="92" height="29" alt=""></td>
      <td background="$path/images/title_img3.gif"><img src="$path/images/title_img3.gif" width="8" height="29" alt=""></td>
      <td width="214"><img src="$path/images/title_img6.gif" width="214" height="29" alt=""></td>	  
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->
    <!-- 本文ここから -->
	
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td width="92" valign="top"><img src="$path/images/title_img7.gif" width="92" height="38" alt=""></td>
      <td width="52" class="menuLine"><img src="$path/images/spacer.gif" alt="" width="52" height="1"></td>
      <td width="90%" align="left"> <br>
       <!-- メニュー用テーブルここから -->
       <table border="0" cellspacing="6">
        <tr>
         <td width="50">&nbsp;</td>
         <td class="menu">利害関係該当課題入力を確定します。</td>
        </tr>
        <tr>
         <td>&nbsp;</td>
         <td class="menu"><font color="#FF0000">確定すると、修正を行うことはできません。</font></td>
        </tr>
        <tr>
         <td>&nbsp;</td>
         <td class="menu">よろしければ、[OK]ボタンをクリックしてください。</td>
        </tr>
       </table>
       <!-- メニュー用テーブルここまで -->
      <br>
      <br>
      </td>
     </tr>
    </table>
    <!-- 本文ここまで -->
	<form method="POST" action="$link.setAction('/shinsa/shinsaJigyo/riekiSohanCheckSave')">
	## A hidden form field with the transaction token
    <input type="hidden" name="$form.tokenName" value="$form.token">
	<input type="hidden" name="jigyoId" value="$shinsaKekkaSearchForm.jigyoId">
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" src="$path/images/bt_ok.gif" width="114" height="28" border="0" alt="OK"></td>
       <td><a href="$link.setAction('/shinsa/shinsaJigyo/riekiSohanList')"><img src="$path/images/bt_cancel.gif" width="114" height="28" border="0" alt="キャンセル"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width="8" height="26" alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/shinsa/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width="72" height="26" border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width="8" height="26" alt=""></td>
     </tr>
	</form>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>