## ***********************************************
## 一括受理画面
##
## ***********************************************

## 2005/06/13 新規作成

#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
##スクリプト
<SCRIPT LANGUAGE=javascript>
<!--
##	function onSave(){
##		document.juri_form.action="$link.setAction('/gyomu/checkList/juriSaveTokutei')";
##		document.juri_form.submit();
##	}
//-->
</SCRIPT>


##<form name="juri_form" method="POST" action="$link.setAction('/gyomu/checkList/juriSaveTokutei')" id=form1>
<form name="juriCheckListForm" method="post" action="$link.setAction('/gyomu/checkList/juriSaveTokutei')">
        ## A hidden form field with the transaction token
        <input type="hidden" name="$form.tokenName" value="$form.token">
		##
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">

    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->

   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->

 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>

    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞チェックリスト検索＞チェックリスト一覧＞<b>受理登録</b></font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->

    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       受理登録</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

<!-- 本文ここから -->
<!-- 一覧用テーブルここから -->
#if(!$juriCheckListForm.checkListPage || $juriCheckListForm.checkListPage.list.size() == 0)
	##該当件数が０件だった場合
	#errorMarkup()
#else
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr><th>研究種目名</th>
	    #foreach($jigyo in $juriCheckListForm.checkListPage.list)
	     #set ($jigyoId = $!jigyo.JIGYO_ID)
	      <td>
	        平成$!escape.getText($!jigyo.NENDO)年度
	      	#if($jigyo.KAISU.toString() == '1')
	     		$!escape.getText($!jigyo.JIGYO_NAME)
	     	#else
	     		第$!escape.getText($!jigyo.KAISU)回 $!escape.getText($!jigyo.JIGYO_NAME)
			#end
		  </td>
    	#end
	</tr>
	<tr><th>所属研究機関名</th>
	    #foreach($jigyo in $juriCheckListForm.checkListPage.list)
	     #set ($jigyoId =$!jigyo.JIGYO_ID)
		  <td>$!escape.getText($!jigyo.SHOZOKU_NAME)</td>
    	#end
	</tr>
    <tr><th>応募件数</th>
	    #foreach($jigyo in $juriCheckListForm.checkListPage.list)
	     #set ($jigyoId =$!jigyo.JIGYO_ID)
     	  <td>$!escape.getText($!jigyo.COUNT)件</td>
    	#end
	</tr>

   </table>
  </td>

 </tr>
</table>
#end
<!-- 一覧用テーブルここまで-->

## 20050711 チェックリストでの不受理機能を追加
##<br>
##<p align="left">この応募を受理します。よろしければ[OK]ボタンをクリックしてください。</p>
<br>
<p align="left">この研究計画調書の受理結果を選択し、[OK]ボタンをクリックしてください。</p>

<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
## 20050722
#errorMarkupForProperty("juriCheckListForm.juriKekka")
#errorMarkupForProperty("juriCheckListForm.juriBiko")
## Horikoshi
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th align="left">受理結果</th>
      <td><font color="#ff0000">*</font>
## 20050719 受理(06)、不受理(07)の場合にはラベル表示を行う
      	<select name="juriCheckListForm.juriKekka">
			#showOptions($juriCheckListForm.JuriFujuri $juriCheckListForm.juriKekka)
		</select>
## Horikoshi
     </td>
    </tr>
    <tr>
     <th align="left">備考<br>（不受理理由等）</th>
     <td>
     	<textarea rows="2" cols="60" name="juriCheckListForm.juriBiko">$!escape.getText($!juriCheckListForm.juriBiko)</textarea>
     	<br>
##     	<font color="#ff0000">※修正依頼または不受理の場合のみ応募者及び所属研究機関担当者、部局担当者へ通知されます。</font>
     	<font color="#ff0000">※不受理の場合のみ応募者及び所属研究機関担当者、部局担当者へ通知されます。</font>
     </td>
    </tr>
   </table>
  </td>
</tr>
</table>
## Horikoshi
<!-- 一覧用テーブルここまで-->

<br>
<!-- 本文ここまで -->
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
		<td>
## 20050720
##			<a href="javascript:onSave()">
	       		<input type="image" src="$path/images/bt_ok.gif" width=114 height=28 border="0" alt="OK">
##       		</a>
## Horikoshi
		</td>
## 20050613 Start
##       <td><a href="$link.setAction('/gyomu/checkList/searchList')"><img src="$path/images/bt_cancel.gif" width=114 height=28 border="0" alt="キャンセル"></a></td>
       <td><a href="$link.setAction('/gyomu/checkList/searchListTokutei')"><img src="$path/images/bt_cancel.gif" width=114 height=28 border="0" alt="キャンセル"></a></td>
## Horikoshi End
      </tr>
     </table>
    </div>
</form>
    <!-- ボタン用テーブルここまで -->

    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" width=72 height=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->

    <!-- コンテンツエリアここまで -->

   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->

##隠しフォーム情報----------
<FORM name="jigyo_form" action="" method="post">
	<INPUT type="hidden" name="jigyoId" >
</FORM>

</div>
</body>
</html>