<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">

<beans>
	<bean name="/linkman/linkman" class="et.bo.linkman.action.LinkmanAction" scope="singleton">
		<property name="ocs">
			<ref bean="linkmanService"/>
		</property>
		<property name="cts">
			<ref bean="ClassTreeService"/>
		</property>
	</bean>
	<bean id="linkmanService" class="et.bo.linkman.service.impl.LinkmanServiceImpl" scope="singleton">
		<property name="dao">
			<ref bean="BaseDao"/>
		</property>
		<property name="ks">
			<ref bean="KeyService"/>
		</property>
		<property name="flowService">
			<ref bean="FlowService"/>
		</property>
		<property name="cts">
			<ref bean="ClassTreeService"/>
		</property>
	</bean>
</beans>