<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">
<beans>

<!--  单位基本信息   -->	
    <bean name="/sys/leafRight/leafRight"
		class="et.bo.sys.leaf.leafRight.action.LeafRightAction" scope="singleton">			
		<property name="leafRightService">
			<ref bean="LeafRightService" />
		</property>	
		<property name="classTreeService">
			<ref bean="ClassTreeService" />
		</property>		
	</bean>


	<bean id="LeafRightService"
		class="et.bo.sys.leaf.leafRight.service.impl.LeafRightServiceImpl" scope="singleton">
		<property name="ks">
			<ref bean="KeyService" />
		</property>
		<property name="dao">
			<ref bean="BaseDao" />
		</property>
<!--		<property name="tis">-->
<!--			<ref bean="treeInfoService" />-->
<!--		</property>-->
<!--		<property name="bts">-->
<!--			<ref bean="buildTreeService" />-->
<!--		</property>-->
	</bean>
	
<!--	<bean id="treeInfoService"-->
<!--		class="excellence.common.tree.base.impl.TreeInfoServiceImpl"scope="singleton">-->
<!--	</bean>-->
<!--	-->
<!--	<bean id="buildTreeService"-->
<!--		class="excellence.common.tree.base.build.impl.BuildTreeServiceImpl"scope="singleton">-->
<!--		<property name="treeService">-->
<!--			<ref bean="viewTree" />-->
<!--		</property>-->
<!--	</bean>-->
<!--	<bean id="viewTree"-->
<!--		class="excellence.common.tree.ext.view.impl.ViewTree"scope="singleton">-->
<!--	</bean>-->
</beans>