<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">
<beans>

<!--  单位基本信息   -->	
    <bean name="/sys/layerOrder/layerOrder"
		class="et.bo.sys.layerOrder.action.LayerOrderTreeAction" scope="singleton">			
		<property name="layerOrderTreeService">
			<ref bean="LayerOrderTreeService" />
		</property>	
	</bean>


	<bean id="LayerOrderTreeService"
		class="et.bo.sys.layerOrder.service.impl.LayerOrderTreeServiceImpl" scope="singleton">
		<property name="ks">
			<ref bean="KeyService" />
		</property>
		<property name="dao">
			<ref bean="BaseDao" />
		</property>
		<property name="classTreeService">
			<ref bean="ClassTreeService" />
		</property>	
	</bean>
	
</beans>