<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">
<beans>
	<!-- 取得端口列表信息 -->
	<bean name="/callcenter/portCompare"
		class="et.bo.callcenter.portCompare.action.PortCompareAction"
		scope="singleton">
		<property name="portCompareService">
			<ref bean="PortCompareService" />
		</property>
	</bean>
	<!--  service begin -->
	<bean id="PortCompareService"
		class="et.bo.callcenter.portCompare.service.impl.PortCompareImpl"
		scope="singleton">
		<property name="cts">
			<ref bean="ClassTreeService" />
		</property>
		<property name="dao">
			<ref bean="BaseDao" />
		</property>
		<property name="ks">
			<ref bean="KeyService" />
		</property>
	</bean>
	<!--  service end   -->
</beans>