<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">

<beans>
	
	<bean name="/flow/flow" class="et.bo.flow.action.FlowAction" scope="singleton">
		<property name="flowService">
			<ref bean="FlowService"/>
		</property>
	</bean>
	<bean id="FlowService" class="et.bo.flow.service.impl.FlowServiceImpl" scope="singleton">
		<property name="dao">
			<ref bean="BaseDao"/>
		</property>
		<property name="ks">
			<ref bean="KeyService"/>
		</property>
		<property name="bds">
			<ref bean="datasource"/>
		</property>
	</bean>
	
</beans>