<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "spring-beans-2.0.dtd">

<beans>
	<bean id="confManagerService"
		class="et.bo.confManager.impl.ConfManagerImpl" scope="singleton">
		<property name="dao">
			<ref bean="BaseDao" />
		</property>
	</bean>
	
</beans>