## ***********************************************
## 評価一覧検索フォーム情報(基盤)→hyokaSearchForm
## ***********************************************
#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>

<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width="72" height="20" border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞評価一覧出力（事業選択＞<b>基盤研究等評価一覧検索</b><font size="1">＞評価順一覧</font>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width="61" height="49" alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont">
       <br>基盤研究等評価一覧検索</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width="213" height="49" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

    <!-- 本文ここから -->
    <p align="left">評価一覧の検索を行います。</p>
    <p align="left">検索条件を入力して[検索実行]ボタンをクリックしてください。</p>
    #errorMarkup()
    <form method="POST" action="$link.setAction('/gyomu/hyoka/dispatchApplication.do')">
     <input type="hidden" name="startPosition" value="0">
     <input type="hidden" name="jigyoKubun" value="4">

     <!-- 一覧用テーブルここから -->
     <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
      <tr>
       <td>
        <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
         <tr>
          <th width="30%" align="left">研究種目名</th>
          <td width="70%">
           <select name="jigyoCd" size="1">
            <option value="">　</option>
            #showOptions($hyokaSearchForm.jigyoList $hyokaSearchForm.jigyoCd)
           </select>
          </td>
         </tr>
         <tr>
          <th align="left">年度・回数</th>
          <td>平成
           <select size="1" name="nendo">
            <option value=""> </option>
            #nendoOptions($hyokaSearchForm.nendo)
           </select>年度
           <select size="1" name="kaisu">
            <option value=""> </option>
            #kaisuOptions($hyokaSearchForm.kaisu)
           </select>回   [完全一致]
          </td>
         </tr>
    
## 2005/03/28 削除 ここから---------------------------------
## 理由 「応募者名・ローマ字」項目削除
##    <tr>
##     <th align="left" rowspan="3">応募者名</th>
##     <td>（漢字等）（姓）<input size="20" type="text" name="nameKanjiSei" value="$!escape.getText($!hyokaSearchForm.nameKanjiSei)">　（名）<input size="20" type="text" name="nameKanjiMei" value="$!escape.getText($!hyokaSearchForm.nameKanjiMei)">　[部分一致]</td>
##    </tr>
##    <tr>
##     <td>（フリガナ）（姓）<input size="20" type="text" name="nameKanaSei" value="$!escape.getText($!hyokaSearchForm.nameKanaSei)">　（名）<input type="text" size="20" name="nameKanaMei" value="$!escape.getText($!hyokaSearchForm.nameKanaMei)">　[部分一致]</td>  
##    </tr>
##    <tr>
##     <td>（ローマ字）（姓）<input size="20" type="text" name="nameRoSei" value="$!escape.getText($!hyokaSearchForm.nameRoSei)">　（名）<input type="text" size="20" name="nameRoMei" value="$!escape.getText($!hyokaSearchForm.nameRoMei)">　[部分一致]</td>  
##    </tr>
## 削除 ここまで---------------------------------------------

## 2005/03/28 追加 ここから---------------------------------
## 理由 「応募者名・ローマ字」項目削除
         <tr>
          <th align="left" rowspan="2">応募者名</th>
          <td>（漢字等）（姓）<input size="20" type="text" name="nameKanjiSei" value="$!escape.getText($!hyokaSearchForm.nameKanjiSei)">　（名）<input size="20" type="text" name="nameKanjiMei" value="$!escape.getText($!hyokaSearchForm.nameKanjiMei)">　[部分一致]</td>
         </tr>
         <tr>
          <td>（フリガナ）（姓）<input size="20" type="text" name="nameKanaSei" value="$!escape.getText($!hyokaSearchForm.nameKanaSei)">　（名）<input type="text" size="20" name="nameKanaMei" value="$!escape.getText($!hyokaSearchForm.nameKanaMei)">　[部分一致]</td>  
         </tr>
## 追加 ここまで---------------------------------------------

         <tr>
          <th align="left">応募者所属研究機関番号</th>
          <td><input size="8" name="shozokuCd" value="$!escape.getText($!hyokaSearchForm.shozokuCd)">　<a href="$link.setAction('/kikanList')" target="_blank"><img src="$path/images/bt_list.gif" width="41" height="22" alt="一覧" border="0"></a> [完全一致]</td>
         </tr>
         <tr>
          <th align="left">細目番号</th>
          <td><input name="bunkasaimokuCd" size="8" value="$!escape.getText($!hyokaSearchForm.bunkasaimokuCd)">　<a href="$link.setAction('/saimokuList')" target="_blank"><img src="$path/images/bt_list.gif" width="41" height="22" alt="一覧" border="0"></a> [完全一致]</td>
         </tr>
         <tr>
## 2005/05/19 修正 ここからBy Sai    	
##    <th align="left">海外分野</th>    	
          <th align="left">審査希望分野</th>
## 2005/05/19 修正 ここまでBy Sai      
          <td><input name="kaigaibunyaName" size="20" value="$!escape.getText($!hyokaSearchForm.kaigaibunyaName)">[完全一致]</td>
         </tr>
         <tr>
          <th align="left">応募番号</th>
          <td><input name="uketukeNo" size="20" value="$!escape.getText($!hyokaSearchForm.uketukeNo)">[完全一致]</td>
         </tr>
         <tr>
          <th align="left">評価</th>
          <td><input name="hyokaHigh" size="5" value="$!escape.getText($!hyokaSearchForm.hyokaHigh)">点以下　<input name="hyokaLow" size="5" value="$!escape.getText($!hyokaSearchForm.hyokaLow)">点以上</td>
         </tr>
##2005/11/8 表示方式は評価一覧順と固定する
         <input type="hidden" name="hyojiHoshikiKiban" value="1">
##    <tr>
##     <th align="left">表示方式</th>
##     <td>
##       #set ($name= "hyojiHoshikiKiban")
##       #set ($value= $!hyokaSearchForm.hyojiHoshikiKiban)
##       #if($value == "")
##         #set ($value = "1")
##       #end
##       #showRadios($name $hyokaSearchForm.hyojiHoshikiListKiban $value)
##     </td>
##    </tr>
##2005/11/8 end
        </table>
       </td>
      </tr>
     </table>
     <!-- 一覧用テーブルここまで-->
     <br>
     <!-- 本文ここまで -->

     <!-- ボタン用テーブルここから -->
     <div align="center">
      <table border="0" cellpadding="0" cellspacing="4">
       <tr>
        <td><input type="image" src="$path/images/bt_search.gif" name="submit" width="114" height="28" border="0" alt="検索実行"></td>
        <td><a href="$link.setAction('/gyomu/showMainMenu')"><img src="$path/images/bt_bk_menu.gif" width="114" height="28" border="0" alt="メニューに戻る"></a></td>
       </tr>
      </table>
     </div>
     <!-- ボタン用テーブルここまで -->
     <!-- サブ画面フッター用テーブルここから -->
     <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr bgcolor="#336699">
       <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width="8" height="26" alt=""></td>
       <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width="72" height="26" border="0"></a></td>
       <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width="8" height="26" alt=""></td>
      </tr>
     </table>
    </form>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>