<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean name="/forum/userInfo"
		class="et.bo.forum.userInfo.action.UserInfoAction" singleton="false">			
		<property name="userInfoService">
			<ref bean="UserInfoService" />
		</property>			
	</bean>
<!--  service begin -->	
<bean id="UserInfoService"
		class="et.bo.forum.userInfo.service.impl.UserInfoServiceImpl" singleton="true">		
		<property name="pointService">
			<ref bean="PointService" />
		</property>
		<property name="dao">
			<ref bean="ForumDao" />
		</property>
	</bean>	
</beans>