<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean name="/user/userOper/register"
		class="et.bo.user.useroper.register.action.RegisterAction" singleton="false">			
		<property name="register">
			<ref bean="RegisterService" />
		</property>			
	</bean>
	
	<!--  service begin -->	
	<bean id="RegisterService"
		class="et.bo.user.useroper.register.service.impl.RegisterServiceImpl" singleton="true">
		<property name="ks">
			<ref bean="KeyService" />
		</property>
		<property name="dao">
			<ref bean="BaseDao" />
		</property>
	</bean>	
</beans>