## ***********************************************
## 部局担当者情報修正画面
##
## フォーム情報 → bukyokuForm
## 部局担当者情報→$userContainer.bukyokuInfo
## ***********************************************

## 2005/03/10 新規作成

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

## ************************************************
#parse( $commonSetting )
#set ($info= $userContainer.userInfo.ShozokuInfo)
## ***********************************************

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="https://www-shinsei.jsps.go.jp/topkakenhi/download-ka.html#tebiki" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/shozoku/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width=72 height=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#CC6666" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/shozoku/showMainMenu')">所属研究機関担当者向けメニュー</a>＞<a href="$link.setAction('/shozoku/bukyokuKanri/showMenu')">部局担当者管理</a>（部局担当者一覧＞<b>部局担当者情報修正</b><font size="1">＞部局担当者情報修正確認＞部局担当者情報修正完了</font>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width=61 height=49 alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       部局担当者情報修正</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width=213 height=49 alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

 	<!-- 本文ここから -->
 	#errorMarkup()
	<p class="comment"><font color="#FF0000" size="2">*</font>のついた項目は必須項目です。</font></p>
	</form>
	<form method="post" action="$link.setAction('/shozoku/bukyokuKanri/editCheck')">

	<!-- 一覧用テーブルここから -->
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
	 <tr>
	  <td>
	   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
	    <tr>
	     <th align="left">ID</th>
	     <td colspan="3">$!escape.getText($!bukyokuForm.bukyokutantoId)</td>
	    </tr>
	    <tr>
	     <th align="left" width="20%">所属研究機関名</th>
	     <td width="20%">（番号）$!escape.getText($!info.shozokuCd)</td>
	     <td width="30%">（和文）$!escape.getText($!info.shozokuName)</td>
	     <td width="30%">（英文）$!escape.getText($!info.shozokuNameEigo)</td>
	    </tr>
	    <tr>
	     <th align="left">担当者部課名</th>
	     <td colspan="3"><font color="#FF0000">*</font><input size="34" name="bukaName" value="$!escape.getText($!bukyokuForm.bukaName)"></td>
	    </tr>
	    <tr>
	     <th align="left">担当者係名</th>
	     <td colspan="3"><input size="34" name="kakariName" value="$!escape.getText($!bukyokuForm.kakariName)"></td>
	    </tr>
	    <tr>
	     <th align="left">担当者名</th>
	     <td colspan="3">（姓）<input size="20" name="tantoNameSei" value="$!escape.getText($!bukyokuForm.tantoNameSei)">
	     　（名）<input size="20" name="tantoNameMei" value="$!escape.getText($!bukyokuForm.tantoNameMei)"><br>
     	 </td>
	    </tr>
	    <tr>
	     <th align="left">担当者連絡先</th>
	     <td colspan="3">
	      電話番号：<input size="20" name="bukyokuTel" value="$!escape.getText($!bukyokuForm.bukyokuTel)"> 　　FAX番号：<input size="20" name="bukyokuFax" value="$!escape.getText($!bukyokuForm.bukyokuFax)"><br><br>
	      Email：<input size="50" name="bukyokuEmail" value="$!escape.getText($!bukyokuForm.bukyokuEmail)">
	     </td>
	    </tr>
	    <tr>
	     <th align="left">部局番号<br>
	     <a href="$link.setAction('/bukyokuList')" target="_blank"><img src="$path/images/bt_list2.gif" width=41 height=22 alt="一覧" border="0"></a></th>
	     <td colspan="3">

## 2005/03/16 削除 ここから-------------------------------------
## 理由 「担当部局番号」表示のため（リストに格納された部局番号をスペースで区切り、表示する。）
##		     #foreach( $i in $[0..2] )
##			    #foreach( $j in $[0..9] )
##			    #set( $num = $i*10+$j )
##					<input size="4" name="code$num" value="">
##			    #end
##			    <br>
##		     #end
## 削除 ここまで------------------------------------------------
		     
## 2005/03/16 追加 ここから-------------------------------------
## 理由 「担当部局番号」表示のため（リストに格納された部局番号をスペースで区切り、表示する。）
		     #set( $count = $bukyokuForm.bukyokuList.size() )
		     #foreach( $i in $[0..2] )
			    #foreach( $j in $[0..9] )
			    #set( $num = $i*10+$j )
			      #if($num < $count)
				<input size="4" name="bukyokuList[$num]" value="$!escape.getText($bukyokuForm.bukyokuList.get($num))">
				  #else
				    <input size="4" name="bukyokuList[$num]" value="">
				  #end
			    #end
			    <br>
		     #end
## 追加 ここまで------------------------------------------------

## 2005/07/28 修正
		    ※部局番号を入力すると、参照できる範囲を入力した部局番号の応募者及び応募情報又は研究計画調書だけに限定することができます。</td>
## Amemiya
		 </td>
	    </tr>
	   </table>
	  </td>
	 </tr>
	</table>
	<!-- 一覧用テーブルここまで-->
	<br>
	<!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" src="$path/images/bt_ok.gif" alt="OK" width="114" height="28" border="0"></td>
       <td><a href="$link.setAction('/shozoku/bukyokuKanri/showMenu')"><img src="$path/images/bt_cancel.gif" width=114 height=28 alt="キャンセル" border="0"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->

    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width=8 height=26 alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/shozoku/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width=72 height=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width=8 height=26 alt=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</form>
</body>
</html>