## 審査状況検索フォーム情報→shinsaJokyoSearchForm
## 検索結果ページ情報→result
#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
##スクリプト
<SCRIPT LANGUAGE=javascript>
<!--
function onShinsainInfoClick(shinsainNo, jigyoKubun){
	window.open("","nw1","toolbar=0,status=0,menubar=0,resizable=yes,scrollbars=yes");
	
	document.info_form.action="$link.setAction('/gyomu/warifuri/shinsainInfo')";
	document.info_form.shinsainNo4View.value = shinsainNo;
	document.info_form.jigyoKubun.value = jigyoKubun;
	document.info_form.target="nw1";
	document.info_form.submit();
}
function on1stReferClick(systemNo){
	window.open("","nw2","toolbar=0,status=0,menubar=0,resizable=yes,scrollbars=yes");

	document.info_form.action="$link.setAction('/gyomu/shinsaJokyo/shinsaKekka1stRefer')";
	document.info_form.systemNo.value = systemNo;
	document.info_form.target="nw2";
	document.info_form.submit();
}
function onPageClick(startPosition){
	document.page_form.action="$link.setAction('/gyomu/shinsaJokyo/dispatchApplication.do')";
	document.page_form.startPosition.value = startPosition;
	document.page_form.submit();
}
function onCsvOutClick(){
	document.csvout_form.action="$link.setAction('/gyomu/shinsaJokyo/csvOut')";
    document.csvout_form.submit();
}
function onSaishinsaClick(jigyoId, shinsainNo, jigyoKubun){
	document.saishinsa_form.action="$link.setAction('/gyomu/shinsaJokyo/saishinsa')";
	document.saishinsa_form.jigyoId.value = jigyoId;
	document.saishinsa_form.shinsainNo.value = shinsainNo;
	document.saishinsa_form.jigyoKubun.value = jigyoKubun;
	document.saishinsa_form.submit();
}
function onShinsaResetClick(jigyoId, shinsainNo, jigyoKubun){
	document.saishinsa_form.action="$link.setAction('/gyomu/shinsaJokyo/clearShinsaKekka')";
	document.saishinsa_form.jigyoId.value = jigyoId;
	document.saishinsa_form.shinsainNo.value = shinsainNo;
	document.saishinsa_form.jigyoKubun.value = jigyoKubun;
	document.saishinsa_form.submit();
}
// 2006/10/23 于広偉   追加 ここから
function onNyuryokuClick(jigyoId, shinsainNo, jigyoKubun){
	document.saishinsa_form.action="$link.setAction('/gyomu/shinsaJokyo/clearRiekiSouhanJyokyo')";
	document.saishinsa_form.jigyoId.value = jigyoId;
	document.saishinsa_form.shinsainNo.value = shinsainNo;
	document.saishinsa_form.jigyoKubun.value = jigyoKubun;
	document.saishinsa_form.submit();
}

//-->
</SCRIPT>

## 変数の置き換え
#set ($list= $result.list)

<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞<a href="$link.setAction('/gyomu/shinsaJokyo/search')">審査状況確認</a>（審査状況検索＞<b>審査状況一覧</b>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       審査状況一覧</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

<!-- 本文ここから -->
<p align="left"><a href="javascript:onCsvOutClick();"><img src="$path/images/bt_csv.gif" alt="CSV出力" width=114 height=28 alt="CSV出力" border="0"></a></p>

 <font color="black">$!escape.getText($!result.totalSize) 件該当しました。</font><br>
 <font color="blue"><b>$!escape.getText($!result.currentPages)</b></font>
 <font color="black"> ページ目を表示しています。</font><br>　　　
 <font color="blue">
 #foreach($page in $result.pageIndexs)
   #if($velocityCount == $result.currentPages)
     #if($velocityCount == $result.totalPages)
			<b> $!escape.getText($velocityCount)</b>
      #else
         	<b> $!escape.getText($velocityCount)</b><font color="black">/</font>
      #end
   #else
      #if($velocityCount == $result.totalPages)
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
      #else
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
      #end
   #end
 #end
 </font>
 <font color="black">ページに移動します。</font> <br> 　　　
 #if($result.hasPreviousPage())
   <A href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width=64 height=24 alt="前ページ" border="0"></a>
 #end

 #if($result.hasNextPage())
   <A href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width=64 height=24 alt="次ページ" border="0"></a>
 #end
<br><br>
 
<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th>審査員</th>
     <th>審査員<br>連絡先</th>
     <th>研究種目名</th>
     <th>整理番号<br>（学創用）</th>
     <th>応募者名<br>
      研究課題名</th>
     <th>審査期限</th>
     <th>最終ログイン日</th>
     <th>評価</th>
     <th>1次審査結果参照</th>
	 ## 2006/10/24 追加　于広偉　	
	 <th>利害関係入力完了状況</th>
     <th>審査状況</th>
    </tr>
    #foreach($user in $list)
    <tr>
     <td>$!escape.getText($!user.SHINSAIN_NO) $!escape.getText($!user.SHINSAIN_NAME_KANJI_SEI) $!escape.getText($!user.SHINSAIN_NAME_KANJI_MEI)</td>
     <td><a href="javascript:onShinsainInfoClick('$!user.SHINSAIN_NO', '$!user.JIGYO_KUBUN');"><img src="$path/images/bt_refer.gif" width=64 height=24 alt="参照" border="0"></a></td>
     <td>平成$!escape.getText($!user.NENDO)年度 #if(!$user.KAISU.toString().equals('1')) 第$!escape.getText($!user.KAISU)回 #end $!escape.getText($!user.JIGYO_NAME)</td>
	 <td>$!escape.getText($!user.JURI_SEIRI_NO)</td>
     <td>$!escape.getText($!user.NAME_KANJI_SEI) $!escape.getText($!user.NAME_KANJI_MEI)<br>
      $!escape.getText($!user.KADAI_NAME_KANJI)</td>
     <td>$!dateFormat.format($!escape.getText($!user.SHINSAKIGEN))</td>
     <td>$!dateFormat.format($!escape.getText($!user.LOGIN_DATE))</td>
     <td align="center">
       #if($user.RIGAI == '1')利害
       #elseif($user.KEKKA_ABC)$!escape.getText($!user.KEKKA_ABC)
       #elseif($user.KEKKA_TEN)$!escape.getText($!user.KEKKA_TEN)
       #end
     </td>
     <td><a href="javascript:on1stReferClick('$!user.SYSTEM_NO');"><img src="$path/images/bt_refer.gif" width=64 height=24 alt="参照" border="0"></a></td>
	 ## 2006/10/23 利害関係入力完了状況 を　追加　于広偉　ここから 	 
	 <td>#if($user.JIGYO_KUBUN.toString().equals("1") || $user.JIGYO_KUBUN.toString().equals("2"))-
		 #elseif($user.NYURYOKU_JOKYO == '1')完了
		   #if($user.SHINSA_JOKYO == '0')
			<a href="javascript:onNyuryokuClick('$!user.JIGYO_ID', '$!user.SHINSAIN_NO', '$!user.JIGYO_KUBUN');"><img src="$path/images/bt_reinput.gif" width=64 height=24 alt="再入力" border="0"></a>
		   #end	
		 #else 未完了
         #end</td>	
	 ## 2006/10/23 利害関係入力完了状況 を　追加　于広偉　ここまで
	 ## UPDATE START 2007/07/11 BIS 趙一非
	 #*
	 <td>#if($user.SHINSA_JOKYO == '0')未完了<br>
             <a href="javascript:onShinsaResetClick('$!user.JIGYO_ID', '$!user.SHINSAIN_NO', '$!user.JIGYO_KUBUN');"><img src="$path/images/bt_reset.gif" width=64 height=24 alt="リセット" border="0"></a>
         #elseif($user.SHINSA_JOKYO == '1')完了<br>
           #if($user.JOKYO_ID != '12')
             <a href="javascript:onSaishinsaClick('$!user.JIGYO_ID', '$!user.SHINSAIN_NO', '$!user.JIGYO_KUBUN');"><img src="$path/images/bt_reexam.gif" width=64 height=24 alt="再審査" border="0"></a>
           #end
         #end</td>
      *#   
        <td>#if($user.SHINSA_JOKYO == '1')完了<br>
           #if($user.JOKYO_ID != '12')
             <a href="javascript:onSaishinsaClick('$!user.JIGYO_ID', '$!user.SHINSAIN_NO', '$!user.JIGYO_KUBUN');"><img src="$path/images/bt_reexam.gif" width=64 height=24 alt="再審査" border="0"></a>
           #end
         #else
           未完了<br>
           <a href="javascript:onShinsaResetClick('$!user.JIGYO_ID', '$!user.SHINSAIN_NO', '$!user.JIGYO_KUBUN');"><img src="$path/images/bt_reset.gif" width=64 height=24 alt="リセット" border="0"></a>
         #end</td>  
         ## UPDATE END 2007/07/11 BIS 趙一非
    </tr>
    #end
   </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
 <font color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
#foreach($page in $result.pageIndexs)
   #if($velocityCount == $result.currentPages)
     #if($velocityCount == $result.totalPages)
			<b> $!escape.getText($velocityCount)</b>
      #else
         	<b> $!escape.getText($velocityCount)</b><font color="black">/</font>
      #end
   #else
      #if($velocityCount == $result.totalPages)
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
      #else
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
      #end
   #end
 #end
 </font>
 <font color="black">ページに移動します。</font> <br> 　　　
 #if($result.hasPreviousPage())
   <A href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width=64 height=24 alt="前ページ" border="0"></a>
 #end

 #if($result.hasNextPage())
   <A href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width=64 height=24 alt="次ページ" border="0"></a>
 #end
<br>
          <p align="left"><a href="javascript:onCsvOutClick();"><img src="$path/images/bt_csv.gif" alt="CSV出力" width=114 height=28 alt="CSV出力" border="0"></a></p>
<!-- 本文ここまで -->

##隠しフォーム情報----------
<form name="info_form" action="" method="post">
	<input type="hidden" name="systemNo" >
	<input type="hidden" name="shinsainNo4View" >
	<input type="hidden" name="jigyoKubun" >
</form>
<form name="saishinsa_form" action="" method="post">
	<input type="hidden" name="jigyoId" >
	<input type="hidden" name="shinsainNo" >
	<input type="hidden" name="jigyoKubun" >
</form>
<FORM name="page_form" action="" method="post">
	<INPUT type="hidden" name="startPosition" >
</FORM>
<form name="csvout_form" action="" method="post">
</form>

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
     <form method="POST" action="$link.setAction('/gyomu/shinsaJokyo/searchList')?startPosition=0">
      <tr>
       <td><input type="image" name="$form.cancelName" src="$path/images/bt_bk_examsearch.gif" width=228 height=28 border="0" alt="審査状況検索に戻る"></td>
      </tr>
     </form>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>