<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

## ************************************************
#parse( $commonSetting )

#set( $info = $userContainer.shinsaKekkaReferenceInfo)
#set( $list = $info.shinsaKekkaInfoList)
## ***********************************************

## ***********************************************
##スクリプト

<SCRIPT LANGUAGE=javascript>
<!--
function regDownloadFile(systemNo, shinsainNo, jigyoKubun){
	document.regdownload_form.action="$link.setAction('/gyomu/shinseiKanri/regTenpuFileDownload')";
	document.regdownload_form.systemNo.value = systemNo;
	document.regdownload_form.shinsainNo.value = shinsainNo;
	document.regdownload_form.jigyoKubun.value = jigyoKubun;
	document.regdownload_form.submit();
}
function referShinsaKekka(systemNo, shinsainNo, jigyoKubun){
	window.open("","nw0","toolbar=0,status=0,menubar=0,resizable=yes,scrollbars=yes");

	document.shinsakekka_form.action="$link.setAction('/gyomu/shinseiKanri/shinsaKekkaRefer')";
	document.shinsakekka_form.systemNo.value = systemNo;
	document.shinsakekka_form.shinsainNo.value = shinsainNo;
	document.shinsakekka_form.jigyoKubun.value = jigyoKubun;
	document.shinsakekka_form.target="nw0";
	document.shinsakekka_form.submit();
}
//-->
</SCRIPT>
## ***********************************************

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       1次審査結果参照</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->


<!-- 本文ここから -->
#errorMarkup()
<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th colspan="2" align="left">研究種目名</th>
     <td>
     	#if($info.kaisu.toString() == '0' || $info.kaisu.toString() == '1')
     		平成$!escape.getText($!info.nendo)年度 $!escape.getText($!info.jigyoName)
     	#else
     		平成$!escape.getText($!info.nendo)年度 第$!escape.getText($!info.kaisu)回 $!escape.getText($!info.jigyoName)
		#end
     </td>
    </tr>
    <tr>
     <th colspan="2" align="left">応募番号</th>
     <td>$!escape.getText($!info.uketukeNo)</td>
    </tr>
    <tr>
     <th align="left" colspan="2">研究課題名</th>
     <td>$!escape.getText($!info.kadaiNameKanji)</td>
    </tr>    
    <tr>
     <th rowspan="3" align="left">応募者</th>
     <th align="left">氏名</th>
     <td>$!escape.getText($!info.nameKanjiSei) $!escape.getText($!info.nameKanjiMei)</td>
    </tr>
    <tr>
     <th align="left">所属研究機関名</th>
     <td>$!escape.getText($!info.shozokuName)</td>
    </tr>
    <tr>
     <th align="left">部局名・職名</th>
     <td>
 		#if($info.bukyokuName)
 			$!escape.getText($!info.bukyokuName) 
 		#end
 		#if($info.shokushuNameKanji)
 			$!escape.getText($!info.shokushuNameKanji)
 		#end     
     </td>
    </tr>
    <tr>
     <th colspan="2" align="left">研究者番号</th>
     <td>$!escape.getText($!info.kenkyuNo)</td>
    </tr>
   </table>
  </td>
 </tr>
</table>

#foreach($i in [0,3,6,9])
	#set($j = $i + 1)
	#set($k = $i + 2)
	##審査員番号が全部ダミー(全部'@'で始まる)の場合、行は表示しない。
	##旧データ(12個ないデータ)対応で、($list.size() > $i)をつける。
	#if(($list.size() > $i) && !(($list.get($i).shinsainNo.startsWith('@')) && ($list.get($j).shinsainNo.startsWith('@')) && $list.get($k).shinsainNo.startsWith('@')))
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th width="13%" align="left">審査状況</th>
     <td width="29%">
 		#if($list.size() > $i && $list.get($i).shinsainNameKanjiSei)
     		#getShinsaJokyo($!escape.getText($list.get($i).shinsaJokyo))	
     	#end
     </td>
     <td width="29%">
		#if($list.size() > $j && $list.get($j).shinsainNameKanjiSei)
			#getShinsaJokyo($!escape.getText($list.get($j).shinsaJokyo))		
     	#end
     </td>
     <td width="29%">
     	#if($list.size() > $k && $list.get($k).shinsainNameKanjiSei)
			#getShinsaJokyo($!escape.getText($list.get($k).shinsaJokyo))
     	#end
     </td>
    </tr>
    <tr>
     <th width="13%" align="left">審査員名</th>
     <td width="29%">
		#if($list.size() > $i)
     		$!escape.getText($list.get($i).shinsainNameKanjiSei) $!escape.getText($list.get($i).shinsainNameKanjiMei)
     	#end
     </td>
     <td width="29%">
		#if($list.size() > $j)
     		$!escape.getText($list.get($j).shinsainNameKanjiSei) $!escape.getText($list.get($j).shinsainNameKanjiMei)
     	#end
     </td>
     <td width="29%">
     	#if($list.size() > $k)
     		$!escape.getText($list.get($k).shinsainNameKanjiSei) $!escape.getText($list.get($k).shinsainNameKanjiMei)
     	#end
     </td>
    </tr>
    <tr>
     <th align="left">審査結果</th>
     <td>
		#if($list.size() > $i)
  			#if($list.get($i).kekkaAbc)
 				$!escape.getText($list.get($i).kekkaAbcLabel)
 			#elseif($info.jigyoCd == '00111')
 			 	$!escape.getText($list.get($i).kekkaTenHogaLabel)
 			#else
 				$!escape.getText($list.get($i).kekkaTenLabel)
 			#end
 		#end
     </td>
     <td>
		#if($list.size() > $j)
			#if($list.get($j).kekkaAbc)
	 			$!escape.getText($list.get($j).kekkaAbcLabel)
 			#elseif($info.jigyoCd == '00111')
 			 	$!escape.getText($list.get($j).kekkaTenHogaLabel)
 			#else
 				$!escape.getText($list.get($j).kekkaTenLabel)
 			#end
 		#end
     </td>
     <td>
		#if($list.size() > $k)
			#if($list.get($k).kekkaAbc)
	 			$!escape.getText($list.get($k).kekkaAbcLabel)
 			#elseif($info.jigyoCd == '00111')
 			 	$!escape.getText($list.get($k).kekkaTenHogaLabel)
 			#else
 				$!escape.getText($list.get($k).kekkaTenLabel)
 			#end
 		#end
     </td>
    </tr>
    <tr>
     <th align="left">添付ファイル</th>
     <td>
		#if($list.size() > $i)
   			<a href="javascript:regDownloadFile('$list.get($i).systemNo', '$list.get($i).shinsainNo', '$list.get($i).jigyoKubun');">$!escape.getText($list.get($i).tenpuName)</a>
     	#end
     </td>
     <td>
		#if($list.size() > $j)
   			<a href="javascript:regDownloadFile('$list.get($j).systemNo', '$list.get($j).shinsainNo', '$list.get($j).jigyoKubun');">$!escape.getText($list.get($j).tenpuName)</a>
     	#end
     </td>
     <td>
		#if($list.size() > $k)
   			<a href="javascript:regDownloadFile('$list.get($k).systemNo', '$list.get($k).shinsainNo', '$list.get($k).jigyoKubun');">$!escape.getText($list.get($k).tenpuName)</a>
     	#end
     </td>
    </tr>
    <tr>
     <th align="left">コメント</th>
     <td>
		#if($list.size() > $i && !($list.get($i).shinsainNo.startsWith('@')))
   			<a href="javascript:referShinsaKekka('$list.get($i).systemNo', '$list.get($i).shinsainNo', '$list.get($i).jigyoKubun');"><img src="$path/images/bt_refer.gif" width=64 height=24 alt="参照" border="0"></a>
     	#end
     </td>
     <td>
		#if($list.size() > $j && !($list.get($j).shinsainNo.startsWith('@')))
   			<a href="javascript:referShinsaKekka('$list.get($j).systemNo', '$list.get($j).shinsainNo', '$list.get($j).jigyoKubun');"><img src="$path/images/bt_refer.gif" width=64 height=24 alt="参照" border="0"></a>
     	#end
     </td>
     <td>
		#if($list.size() > $k && !($list.get($k).shinsainNo.startsWith('@')))
   			<a href="javascript:referShinsaKekka('$list.get($k).systemNo', '$list.get($k).shinsainNo', '$list.get($k).jigyoKubun');"><img src="$path/images/bt_refer.gif" width=64 height=24 alt="参照" border="0"></a>
     	#end
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
	#end
#end

<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th align="left" width="20%">業務担当者備考</th>
     <td>$!escape.getText($!info.shinsa1Biko)</td>
    </tr>
   </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
<!-- 本文ここまで -->

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><a href="javascript:window.close()"><img src="$path/images/bt_close.gif" width=114 height=28 border="0" alt="閉じる"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">     <tr bgcolor="#336699">
      <td width="4" background="$path/images/footer_login2.gif"> <img SRC="$path/images/footer_login1.gif" width=4 height=11 ALT=""></td>
      <td background="$path/images/footer_login2.gif"><img SRC="$path/images/footer_login2.gif" width=4 height=11 ALT=""></td>
      <td width="4" align="right" background="$path/images/footer_login2.gif"> <img SRC="$path/images/footer_login3.gif" width=4 height=11 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
##隠しフォーム情報----------
<form name="regdownload_form" action="" method="post">
	<input type="hidden" name="systemNo">
	<input type="hidden" name="shinsainNo">
	<input type="hidden" name="jigyoKubun">
</form>
<form name="shinsakekka_form" action="" method="post" target="">
	<input type="hidden" name="systemNo">
	<input type="hidden" name="shinsainNo">
	<input type="hidden" name="jigyoKubun">
</form>
##----------
</body>
</html>