## ***********************************************
## 研究者登録画面
##
## フォーム情報 → kenkyushaSearchForm
## 検索結果ページ情報→result
## ***********************************************

## 2005/03/11 新規作成

#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
##スクリプト
<SCRIPT LANGUAGE=javascript>
<!--
function onEditClick(kenkyuNo, shozokuCd){
	document.update_form.action="$link.setAction('/system/kenkyushaKanri/edit')";
	document.update_form.kenkyuNo.value = kenkyuNo;
	document.update_form.shozokuCd.value = shozokuCd; 
	document.update_form.submit();
}
function onDeleteClick(kenkyuNo, shozokuCd){
	document.update_form.action="$link.setAction('/system/kenkyushaKanri/delete')";
	document.update_form.kenkyuNo.value = kenkyuNo;
	document.update_form.shozokuCd.value = shozokuCd; 
	document.update_form.submit();
}

function onPageClick(startPosition){
	document.page_form.action="$link.setAction('/system/kenkyushaKanri/searchList')";
	document.page_form.startPosition.value = startPosition;
	document.page_form.submit();
}
//-->
</SCRIPT>

## 変数の置き換え
#set ($list= $result.list)

<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual5.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/system/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#339999" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/system/showMainMenu')">システム管理者向けメニュー</a>＞<a href="$link.setAction('/system/kenkyushaKanri/showMenu')">研究者管理</a>（研究者管理メニュー＞研究者情報検索＞<b>研究者情報一覧</b>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       研究者情報一覧</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

<!-- 本文ここから -->

#if(!$!result)
  #errorMarkup()
 #else

<br><br>
 <font color="black">$!escape.getText($!result.totalSize) 件該当しました。</font><br>
 <font color="blue"><b>$!escape.getText($!result.currentPages)</b></font>
 <font color="black"> ページ目を表示しています。</font><br>　　　
 <font color="blue">
 #foreach($page in $result.pageIndexs)
   #if($velocityCount == $result.currentPages)
     #if($velocityCount == $result.totalPages)
			<b> $!escape.getText($velocityCount)</b>
      #else
         	<b> $!escape.getText($velocityCount)</b><font color="black">/</font>
      #end
   #else
      #if($velocityCount == $result.totalPages)
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
      #else
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
      #end
   #end
 #end
 </font>
 <font color="black">ページに移動します。</font> <br> 　　　
 #if($result.hasPreviousPage())
   <A href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width=64 height=24 alt="前ページ" border="0"></a>
 #end

 #if($result.hasNextPage())
   <A href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width=64 height=24 alt="次ページ" border="0"></a>
 #end
<br><br>
 
<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th>研究者番号</th>
     <th>研究者名</th>
     <th>所属研究機関名</th>
     <th>職名</th>
     <th>研究者内容</th>
    </tr>
    #foreach($user in $list)	
    <tr>
     <td>$!escape.getText($!user.KENKYU_NO)</td>
     <td>$!escape.getText($!user.NAME_KANJI_SEI) $!escape.getText($!user.NAME_KANJI_MEI)</td>
     <td>$!escape.getText($!user.SHOZOKU_RYAKUSHO)</td>
     <td>$!escape.getText($!user.SHOKUSHU_NAME_RYAKU)</td>
     #set ($kenkyuNo =$!escape.getText($!user.KENKYU_NO))
     #set ($shozokuCd = $!escape.getText($!user.SHOZOKU_CD))
     <td>
     	<a href="javascript:onEditClick('$kenkyuNo', '$shozokuCd');"><img src="$path/images/bt_rep.gif" alt="修正" width="36" height="22" border="0"></a>
     　<a href="javascript:onDeleteClick('$kenkyuNo', '$shozokuCd');"><img src="$path/images/bt_delete.gif" alt="削除" width="36" height="22" border="0"></a>
     </td>
    </tr>
    #end
   </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
 <font color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
#foreach($page in $result.pageIndexs)
   #if($velocityCount == $result.currentPages)
     #if($velocityCount == $result.totalPages)
			<b> $!escape.getText($velocityCount)</b>
      #else
         	<b> $!escape.getText($velocityCount)</b><font color="black">/</font>
      #end
   #else
      #if($velocityCount == $result.totalPages)
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
      #else
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
      #end
   #end
 #end
 </font>
 <font color="black">ページに移動します。</font> <br> 　　　
 #if($result.hasPreviousPage())
   <A href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width=64 height=24 alt="前ページ" border="0"></a>
 #end

 #if($result.hasNextPage())
   <A href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width=64 height=24 alt="次ページ" border="0"></a>
 #end
<br>
#end
<!-- 本文ここまで -->

##隠しフォーム情報----------
<FORM name="update_form" action="" method="post">
	<INPUT type="hidden" name="kenkyuNo" >
	<INPUT type="hidden" name="shozokuCd" >
</FORM>
<FORM name="page_form" action="" method="post">
	<INPUT type="hidden" name="startPosition" >
</FORM>

    <!-- ボタン用テーブルここから -->
    <form method="POST" action="$link.setAction('/system/kenkyushaKanri/searchList')">
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><input type="image" name="$form.cancelName"  src="$path/images/bt_bk_9search.gif" width=219 height=28 alt="研究者情報検索に戻る" border="0"></td>
      </tr>
     </table>
    </div>
    </form>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/system/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" width=72 height=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>