## ***********************************************
## 飛び番号リスト画面
##
## ページ情報 → result
## ***********************************************

## 2005/06/06 新規作成

#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
##スクリプト
<SCRIPT LANGUAGE=javascript>
<!--

//-->
</SCRIPT>

## 変数の置き換え
#set($titleData= $title.list)
#set($list= $result.list)
#if($titleData.size() != 0)
#set($shinseidata = $titleData.get(0))
#set ($nendo = $!shinseidata.NENDO)
#set ($kaisu = $!shinseidata.KAISU)
#set ($jigyoName = $!shinseidata.JIGYO_NAME)
#set ($kakuteiDate = $!shinseidata.KAKUTEI_DATE)
#set ($edition = $!shinseidata.ALLEDITION)
#end
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="https://www-shinsei.jsps.go.jp/topkakenhi/download-ka.html#tebiki" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/bukyoku/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#CC6666" class="rootFont"><font color="#FFFFFF">
      <a href="$link.setAction('/bukyoku/showMainMenu')">部局担当者向けメニュー</a>＞
## 20050606 Start
      <a href="$link.setAction('/bukyoku/checkList/searchListTokutei')">チェックリスト一覧</a>
## Horikoshi End
      ＞<b>飛び番号リスト</b></font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       	   平成$!escape.getText($nendo)年度        
	       #if($!kaisu != "01"){
		       第$!escape.getText($kaisu)回 
		   #end
	       
	       $!escape.getText($!jigyoName)飛び番号リスト
	       #if(!$edition || $edition.toString() == '0')
	         （-版
	       #else 
	       	（$!dateFormat.format($!escape.getText($kakuteiDate)) $!escape.getText($edition)版
	       #end
	       #if($list.size())
	       	：$!escape.getText($list.size())件）
	       #else
			）
	       #end
	       </td>
      </td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

<!-- 本文ここから -->
<!-- 一覧用テーブルここから -->
#errorMarkup()
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th>領域番号</th>
     <th>研究項目</th>
     <th>機関番号・整理番号</th>
     <th>理由</th>
    </tr>
    #if(!$result ||$list.size() == 0)
		##該当件数が０件だった場合
	    <tr>
	    	<td>　</td>
	    	<td>　</td>
	    	<td>　</td>
## 20050701 特定領域用に追加
	    	<td>　</td>
## Horikoshi
	    </tr>
    #else
	    #foreach($shinsei in $list)
	    <tr>
	    	#set ($systemNo =$!shinsei.SYSTEM_NO)
	     	<td>$!escape.getText($!shinsei.RYOIKI_NO)</td>
	     	<td>$!escape.getText($!shinsei.KOMOKU_NO)</td>
	     	<td>$!escape.getText($!shinsei.UKETUKE_NO)</td>
	     	<td>
	     	#if($!shinsei.DEL_FLG.toString() == '1')
	     	  	削除
	   		#elseif($!shinsei.JOKYO_ID == "05")
	   			所属研究機関却下
	     	#end
	     	</td>
	    </tr>
	    #end
	#end
   </table>
  </td>
 </tr>
</table>
 <br>
<!-- 本文ここまで -->

##隠しフォーム情報----------
<FORM name="shinsei_form" action="" method="post">
	<INPUT type="hidden" name="shinseishaId" >
</FORM>

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td>
## 20050606 Start
       <a href="$link.setAction('/bukyoku/checkList/searchListTokutei')">
## Horikoshi End
       <img src="$path/images/bt_bk_checklist.gif" width=219 height=28 alt="チェックリスト一覧に戻る" border="0"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/bukyoku/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" width=72 height=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>