## ***********************************************
## 審査結果参照(システム管理者)
## ***********************************************
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

## ************************************************
#parse( $commonSetting )
#set ($info= $result)
#set ($HYOKA_FILE_FLG= '1')
## ***********************************************
<script language="javascript">
<!--
function onRegDownloadFile(systemNo, shinsainNo, jigyoKubun){
	document.regdownload_form.action="$link.setAction('/shinsa/shinsaJigyo/regHyokaFileDownload')";
	document.regdownload_form.systemNo.value = systemNo;
	document.regdownload_form.shinsainNo.value = shinsainNo;
	document.regdownload_form.jigyoKubun.value = jigyoKubun;
	document.regdownload_form.submit();
}
//-->
</script>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual5.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->

    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width="61" height="49" alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont">
       <br>審査結果参照</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width="213" height="49" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

<!-- 本文ここから -->
<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th width="20%" align="left">研究種目名</th>
     <td colspan="2">
     	#if($info.kaisu.equals("0") || $info.kaisu.equals("1"))
     		平成$!escape.getText($!info.nendo)年度 $!escape.getText($!info.jigyoName)
     	#else
     		平成$!escape.getText($!info.nendo)年度 第$!escape.getText($!info.kaisu)回 $!escape.getText($!info.jigyoName)
		#end
     </td>
    </tr>
	##----「基盤研究(A)海外学術調査」「基盤研究(B)海外学術調査」だったら
    <tr> 
      <th width="20%" align="left">分野番号・分野名</th>
      <td>（番号）$!escape.getText($!info.shinsaryoikiCd)</td>
      <td>$!escape.getText($!info.shinsaryoikiName)</td>
    </tr>
    <tr>
     <th align="left">関連細目番号・関連細目名</th>
     <td>（番号）$!escape.getText($!info.bunkaSaimokuCd)$!escape.getText($!info.bunkatsuNo) 
     </td>
     <td>$!escape.getText($!info.saimokuName)</td>
    </tr>
	<tr>
     <th align="left">所属研究機関名</th>
     <td colspan="2">$!escape.getText($!info.shozokuName)</td>
    </tr>
    <tr>
     <th align="left">部局名・職名</th>
     <td colspan="2">$!escape.getText($!info.bukyokuName) $!escape.getText($!info.shokushuName)</td>
    </tr>
    <tr>
     <th align="left">応募者名</th>
     <td colspan="2">$!escape.getText($!info.nameKanjiSei) $!escape.getText($!info.nameKanjiMei)</td> 
    </tr>
    <tr>
     <th align="left">機関-整理番号</th>
     <td colspan="2">$!escape.getText($!info.uketukeNo)</td>
    </tr>
    <tr>
     <th align="left">研究課題名</th>
     <td colspan="2">$!escape.getText($!info.kadaiNameKanji)</td>
    </tr>
   </table>
   </td>
  </tr>
</table>

 <br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th width="20%" align="left">利害関係</th>
     <td>
        $!escape.getText($!info.rigaiLabel)
     </td>
    </tr>
   </table>
   </td>
  </tr>
</table>
 <br>
#*##################################################################################################
ここからは、
研究種目ごとに場合分け。
【注意！】共通の項目の修正をする場合は、研究種目ごとに確認すること。
##################################################################################################*#
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
    <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">  
    <tr>
     <th align="left" rowspan="5">評定要素</th>
     <th align="left">（１）研究課題の学術的重要性・妥当性</th>
     <td>
        $!escape.getText($!info.juyoseiLabel)
    </td>
    </tr>

    <tr>
     <th align="left">（２）研究計画・方法の妥当性</th>
     <td>
        $!escape.getText($!info.kenkyuKeikakuLabel)
	   </td>   
    </tr>
    <tr>
     <th align="left">（３）研究課題の独創性及び革新性</th>
     <td>
        $!escape.getText($!info.dokusoseiLabel)
	   </td>   
    </tr>
    <tr>
     <th align="left">（４）研究課題の波及効果及び普遍性</th>
     <td>
        $!escape.getText($!info.hakyukokaLabel)
	   </td>   
    </tr>
    <tr>
     <th align="left">（５）研究遂行能力及び研究環境の適切性</th>
     <td>
        $!escape.getText($!info.suikonoryokuLabel)　
	   </td>   
    </tr>
    <tr>
     <th width="20%" align="left" colspan="2">総合評点</th>
     <td>
        $!escape.getText($!info.kekkaTenLabel)
     </td>
    </tr>
    <tr>
     <th align="left" colspan="2">審査意見</th>
     <td>
     	$!escape.getText($!info.comments)
     </td>
    </tr>    
    <tr>
     <th align="left" rowspan="2">その他の評価項目</th>
     <th align="left">（１）人権の保護及び法令等の遵守を必要とする研究課題の適切性</th>
     <td>
     	$!escape.getText($!info.jinkenLabel)
	</td>
    </tr>
    <tr>
     <th align="left" colspan="1">（２）研究経費の妥当性</th>
     <td>
     	$!escape.getText($!info.datoLabel)　
     </td>
    </tr>
    <tr>
     <th align="left" colspan="2">コメント</th>
     <td>
     	$!escape.getText($!info.otherComment)
     </td>
    </tr>
    ##添付ファイル有りの場合のみ表示
	#if($info.hyokaFileFlg.equals($HYOKA_FILE_FLG))
    <tr>
     <th align="left" colspan="2">添付ファイル</th>
     <td>
      #if($info.HyokaFileRes)
		<a href="$link.setAction('/shinsa/shinsaJigyo/chkHyokaFileDownload')">$!escape.getText($!info.HyokaFileRes.path)</a><br> 
      #elseif($info.tenpuFlg == 'TRUE')
		<a href="javascript:onRegDownloadFile('$info.systemNo', '$info.shinsainNo', '$info.jigyoKubun');">$!escape.getText($info.tenpuName)</a><br>   
      #end
     </td>
    </tr>
	#end
	</table>
  </td>
 </tr>
</table>
#*##################################################################################################
ここまで
研究種目ごとに場合分け。
【注意！】共通の項目の修正をする場合は、研究種目ごとに確認すること。
##################################################################################################*#
<!-- 一覧用テーブルここまで-->
 <br>
<!-- 本文ここまで -->

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><a href="javascript:window.close()"><img src="$path/images/bt_close.gif" width="114" height="28" border="0" alt="閉じる"></a></td>
      </tr>
     </table>
    </div>

    <!-- ログイン画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="4" background="$path/images/footer_login2.gif"> <img src="$path/images/footer_login1.gif" width="4" height="11" alt=""></td>
      <td background="$path/images/footer_login2.gif"><img src="$path/images/footer_login2.gif" width="4" height="11" alt=""></td>
      <td width="4" align="right" background="$path/images/footer_login2.gif"> <img src="$path/images/footer_login3.gif" width="4" height="11" alt=""></td>
     </tr>
    </table>
    <!-- ログイン画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>