/*页面背景色*/
body {
	background-color: #F1F6F8;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	text-align: center;
	vertical-align: middle;
}
/*标题颜色，白色*/
.wenzi{
	font-family: "宋体";
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
/*内容颜色，黑色*/
.wenzi2{
	font-family: "宋体";
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #333333;
	text-align: center;
}
/*内容颜色，蓝色*/
.wenzi3{
	font-family: "宋体";
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	color: #62AEDF;
	text-align: center;
}
