## ***********************************************
##   応募状況却下画面
## ***********************************************
## 2006/06/16 新規作成　苗

#parse($commonSetting)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
## スクリプト*************************************
<script language="javascript">
<!--
	/* 却下登録 */
	function onSave(systemNo){
		document.shinsei_form.action="$link.setAction("/shinsei/oubokyakkaSave")";
		document.shinsei_form.submit();
	}
//-->
</script>
## ***********************************************
</head>

<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="https://www-shinsei.jsps.go.jp/topkakenhi/download-ka.html#tebiki" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/shinsei/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width="72" height="20" border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#6699CC" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/shinsei/showMainMenu')">応募者向けメニュー</a>＞領域計画書作成＞<b>応募情報却下</b></font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width="61" height="49" alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>応募情報却下</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width="213" height="49" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->
    #set ($info= $userContainer.simpleShinseiDataInfo)    
    <!-- 本文ここから -->
    <p align="left">以下の応募情報を却下します。</p>
    <p align="left">よろしければ、[OK]ボタンをクリックしてください。</p>
    #errorMarkup()
    <!-- 一覧用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
     <tr>
      <td>
       <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
        <tr>
         <th width="30%" align="left">研究区分</th>
         <td width="70%">
           #if($!info.komokuNo.equals("X00"))
			総括班(X00)
           #elseif($!info.komokuNo.equals("Y00"))
			支援班(Y00)
           #else
             #if($!info.choseihan.equals("1"))
				$!info.komokuNo(調整班)
             #elseif($!info.choseihan.equals("0"))
				$!info.komokuNo計画研究
             #end
           #end	 	
         </td>
        </tr>
        <tr>
         <th align="left">計画研究代表者名</th>
         <td>$!escape.getText($!info.shinseishaNameSei)　$!escape.getText($!info.shinseishaNameMei)</td>
        </tr>
        <tr>
         <th align="left">所属機関名・部局名・職名</th>
         <td>$!escape.getText($!info.shozokuName) $!escape.getText($!info.bukyokuName) $!escape.getText($!info.shokushuNameKanji)</td>
        </tr>
        <tr>
         <th align="left">研究課題名</th>
         <td>$!escape.getText($!info.kadaiName)</td>
        </tr>
        <tr>
         <th align="left">版数</th>
         <td>$!escape.getText($!info.edition)
           #if(!$info.edition)
           #else
			版
           #end
         </td>
        </tr>
        <tr>
         <th align="left">作成日</th>
         <td>$!escape.getText($!dateFormat.format($!info.sakuseiDate))</td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
    <!-- 一覧用テーブルここまで-->
    <br>
    ##ADD START 2007/07/10 BIS
    ##Ｈ１９カスタマイズ
    ##注意書き追加
    <p class="comment">＜注意事項＞
 <ul>
   <li class="comment">応募情報を却下した際は、領域代表者が計画研究代表者へ必ず連絡をしてください。</li>
 </ul>
</p>
    ##ADD END 2007/07/10 BIS
    <!-- 本文ここまで -->
    <br>
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><a href="javascript:onSave()"><img src="$path/images/bt_ok.gif" width="114" height="28" alt="OK" border="0"></a></td>
       <td><a href="$link.setAction('/shinsei/ryoikiGaiyo')"><img src="$path/images/bt_cancel.gif" width="114" height="28" alt="キャンセル" border="0"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"><img src="$path/images/footer_img1.gif" width="8" height="26" alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/shinsei/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width="72" height="26" border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"><img src="$path/images/footer_img3.gif" width="8" height="26" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
<form name="shinsei_form" method="post" action="">
  <input type="hidden" name="systemNo" value="$ryoikiGaiyoForm.systemNo">
</form>  
</div>
</body>
</html>