## 所属研究機関検索フォーム情報→shozokuSearchForm ## 検索結果ページ情報→result 

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

## ************************************************
#parse( $commonSetting )
## 変数の置き換え
#set ($list= $result.list)
## ***********************************************
##スクリプト
<SCRIPT LANGUAGE=javascript>
<!--
function onEditClick(shozokuTantoId){
	document.update_form.action="$link.setAction('/gyomu/shozokuKanri/edit')";
	document.update_form.shozokuTantoId.value = shozokuTantoId;
	document.update_form.submit();
}
function onDeleteClick(shozokuTantoId){
	document.update_form.action="$link.setAction('/gyomu/shozokuKanri/delete')";
	document.update_form.shozokuTantoId.value = shozokuTantoId;
	document.update_form.submit();
}
function onCheckClick(shozokuTantoId){
	document.update_form.action="$link.setAction('/gyomu/shozokuKanri/shozokuInfo')";
	document.update_form.shozokuTantoId.value = shozokuTantoId;
	document.update_form.submit();
}
function onPageClick(startPosition){
	document.page_form.action="$link.setAction('/gyomu/shozokuKanri/searchList')";
	document.page_form.startPosition.value = startPosition;
	document.page_form.submit();
}
function onCsvOutClick(){
	document.csvout_form.action="$link.setAction('/gyomu/shozokuKanri/csvOut')";
    document.csvout_form.submit();
}
//-->
</SCRIPT>
## ***********************************************

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width=72 height=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞<a href="$link.setAction('/gyomu/shozokuKanri/search')">所属研究機関情報検索</a>＞<b>所属研究機関情報一覧</b><font size="1">＞所属研究機関情報確認</font></font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width=61 height=49 alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       所属研究機関情報一覧</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width=213 height=49 alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->
    
<!-- 本文ここから -->
#errorMarkup()
 <p align="left"><a href="javascript:onCsvOutClick();"><img src="$path/images/bt_csv.gif" width=114 height=28 alt="CSV出力" border="0"></a></p>
 <font color="black">$!escape.getText($!result.totalSize) 件該当しました。</font><br>
 <font color="blue"><b>$!escape.getText($!result.currentPages)</b></font>
 <font color="black"> ページ目を表示しています。</font><br>　　　
 <font color="blue">
 #foreach($page in $result.pageIndexs)
   #if($velocityCount == $result.currentPages)
     #if($velocityCount == $result.totalPages)
			<b> $!escape.getText($velocityCount)</b>
      #else
         	<b> $!escape.getText($velocityCount)</b><font color="black">/</font>
      #end
   #else
      #if($velocityCount == $result.totalPages)
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
      #else
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
      #end
   #end
 #end
 </font>
 <font color="black">ページに移動します。</font> <br> 　　　
 #if($result.hasPreviousPage())
   <A href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width=64 height=24 alt="前ページ" border="0"></a>
 #end

 #if($result.hasNextPage())
   <A href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width=64 height=24 alt="次ページ" border="0"></a>
 #end
 
<br><br>
<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
	 <th>所属研究機関番号</th>
     <th>所属研究機関名</th>
     <th>担当者ID</th>
     <th>担当者名</th>
     <th>所属研究機関内容</th>
    </tr>
	   #if($list.size() == 0)
			##該当件数が０件だった場合
		    <tr>
		    	<td>&nbsp;</td>
		    	<td>&nbsp;</td>
		    	<td>&nbsp;</td>
		    	<td>&nbsp;</td>
		    	<td>&nbsp;</td>
		    </tr>
	    #else		    
		    #foreach($user in $list)	
		    <tr>
		     <td>$!escape.getText($!user.SHOZOKU_CD)</td>
		     <td>$!escape.getText($!user.SHOZOKU_NAME_KANJI)</td>
		     <td>$!escape.getText($!user.SHOZOKUTANTO_ID)</td>
		     <td>$!escape.getText($!user.TANTO_NAME_SEI) $!escape.getText($!user.TANTO_NAME_MEI)</td>
		     <td>
		      <a href="javascript:onCheckClick('$user.SHOZOKUTANTO_ID');"><img src="$path/images/bt_indicate.gif" width=64 height=24 alt="表示" border="0"></a>
		     </td>
		    </tr>
		    #end
		#end
   </table>
  </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
 <font color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
#foreach($page in $result.pageIndexs)
   #if($velocityCount == $result.currentPages)
     #if($velocityCount == $result.totalPages)
			<b> $!escape.getText($velocityCount)</b>
      #else
         	<b> $!escape.getText($velocityCount)</b><font color="black">/</font>
      #end
   #else
      #if($velocityCount == $result.totalPages)
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
      #else
         <A href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
      #end
   #end
 #end
 </font>
 <font color="black">ページに移動します。</font> <br> 　　　
 #if($result.hasPreviousPage())
   <A href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width=64 height=24 alt="前ページ" border="0"></a>
 #end

 #if($result.hasNextPage())
   <A href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width=64 height=24 alt="次ページ" border="0"></a>
 #end
 <br>
 <p align="left"><a href="javascript:onCsvOutClick();"><img src="$path/images/bt_csv.gif" width=114 height=28 alt="CSV出力" border="0"></a></p>
<!-- 本文ここまで -->

	<!-- ボタン用テーブルここから -->
	<div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
	 <form method="POST" action="$link.setAction('/gyomu/shozokuKanri/searchList')">
      <tr>
       <td><input type="image" name="$form.cancelName" src="$path/images/bt_bk_2search.gif" width=200 height=28 border="0" alt="所属研究機関情報検索に戻る"></td>
      </tr>
      </form>
     </table>
    </div>
  	<!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width=8 height=26 alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width=72 height=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width=8 height=26 alt=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>

##隠しフォーム情報----------
<form name="update_form" action="" method="post">
	<input type="hidden" name="shozokuTantoId" >
</form>

<form name="page_form" action="" method="post">
	<input type="hidden" name="startPosition" >
</form>
<form name="csvout_form" action="" method="post">
</form>
##----------
</body>
</html>