#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

<SCRIPT LANGUAGE=javascript>
<!--
function onPunchOutClick(punchShubetu){
	document.punchout_form.action="$link.setAction('/gyomu/punchData/punchDataOut')";
	document.punchout_form.punchShubetu.value = punchShubetu;
    document.punchout_form.submit();
}
function onPunchCreateClick(punchShubetu){
	document.punchcreate_form.action="$link.setAction('/gyomu/punchData/punchInvoke')";
	document.punchcreate_form.punchShubetu.value = punchShubetu;
    document.punchcreate_form.submit();
}
//-->
</SCRIPT>

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
## 変数の置き換え
#set ($list= $punchDataForm.punchKanriList)
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞<b>パンチデータ出力</b></font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><IMG SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
       パンチデータ出力</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <IMG SRC="$path/images/subtitle_img3.gif" WIDTH=213 HEIGHT=49 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->
	<form method="POST" action="$link.setAction('/gyomu/punchData/punchInvoke')" id=form1 name=form1 enctype="multipart/form-data">
	
<!-- 本文ここから -->
   #errorMarkup() 
<p align="left">現時点でのパンチデータを作成する場合には[新規作成]ボタンをクリックしてください。<br>
作成済みのパンチデータをダウンロードする場合には[ダウンロード]ボタンをクリックしてください。</p>
<!-- 一覧用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
 <tr>
  <td>
   <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
    <tr>
     <th>データ種類</th>
     <th>作成</th>
     <th>作成日時</th>
     <th>ダウンロード</th>
    </tr>
    #if($list.size() == 0)
		##該当件数が０件だった場合
	    <tr>
	    	<td>&nbsp;<br>&nbsp;</td>
	    	<td>&nbsp;<br>&nbsp;</td>
	    	<td>&nbsp;<br>&nbsp;</td>
	    	<td>&nbsp;<br>&nbsp;</td>
	    </tr>
    #else 
    #foreach($user in $list)	
    <tr>
     <td>$!escape.getText($!user.PUNCH_NAME)</td>
     <td><a href="javascript:onPunchCreateClick('$user.PUNCH_SHUBETU')"><img src="$path/images/bt_new.gif" alt="新規作成" width="114" height="28" border="0"></a></td>
     	 <!--<input type="image" src="$path/images/bt_new.gif" width=114 height=28 border="0" alt="OK"></td>-->
 	 <td>$!escape.getText($!user.SAKUSEI_DATE)</td>
 	 <td>
 	 #if($!user.PUNCH_PATH != "")
         <a href="javascript:onPunchOutClick('$user.PUNCH_SHUBETU')"><img src="$path/images/bt_download.gif" alt="ダウンロード" width="64" height="24" border="0"></a></td>
     #end
    </tr>
   #end
   #end
   </table>
   </td>
 </tr>
</table>
<!-- 一覧用テーブルここまで-->
<br>
<!-- 本文ここまで -->
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><a href="$link.setAction('/gyomu/showMainMenu')"><img src="$path/images/bt_bk_menu.gif" width=114 height=28 border="0" alt="メニューに戻る"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</form>

##隠しフォーム情報----------
<form name="punchout_form" action="" method="post">
	<input type="hidden" name="punchShubetu" >
</form>
<form name="punchcreate_form" action="" method="post">
	<input type="hidden" name="punchShubetu" >
</form>
##----------
</body>
</html>