## ***********************************************
## 特別研究促進費（若手研究(A)相当）
## ***********************************************

## 2006/02/8 新規作成

#parse($commonSetting)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpenClose.js"></script>
</head>
<body class="bodyStyle" onUnload="javascript:fncKeepedWindowClose();">
	
<form name="shinsei_form" method="post" action="" onSubmit="return onCheck()">
<input type="hidden" name="page" value="0">	<!-- Validate処理をコマンドによって変更させるため -->
<input type="hidden" name="$form.tokenName" value="$form.token">	<!-- ２重押し防止のため -->
	
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="https://www-shinsei.jsps.go.jp/topkakenhi/download-ka.html#tebiki" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/shinsei/logoff')"><IMG SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#6699CC" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/shinsei/showMainMenu')">応募者向けメニュー</a>＞研究計画調書作成（受付中研究種目一覧＞<B>応募情報入力</B><font size="1">＞応募情報又は研究計画調書確認＞応募情報又は研究計画調書確認完了</font>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td width="92" valign="bottom"><IMG SRC="$path/images/title_img1.gif" WIDTH=92 HEIGHT=53 ALT=""></td>
      <td width="98%" valign="bottom" class="menuTitle">応募情報入力</td>
      <td width="214" valign="bottom"><IMG SRC="$path/images/title_img5.gif" WIDTH=214 HEIGHT=38 ALT=""></td>
     </tr>
     <tr>
      <td width="92"><IMG SRC="$path/images/title_img2.gif" WIDTH=92 HEIGHT=29 ALT=""></td>
      <td background="$path/images/title_img3.gif"><IMG SRC="$path/images/title_img3.gif" WIDTH=8 HEIGHT=29 ALT=""></td>
      <td width="214"><IMG SRC="$path/images/title_img6.gif" WIDTH=214 HEIGHT=29 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->
    <!-- ログイン入力フォーム、メニュー項目用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td width="92" valign="top"><IMG SRC="$path/images/title_img7.gif" WIDTH=92 HEIGHT=38 ALT=""></td>
      <td width="52" class="menuLine"><img src="$path/images/spacer.gif" alt="" width="52" height="1"></td>
      <td width="90%" align="left"> <br>
       <!-- メニュー用テーブルここから -->
#errorMarkupForGlobalError()
#errorMarkup()
       <table border="0" cellspacing="6">
		#set($nendo1 = $!escape.getIntValue($shinseiForm.shinseiDataInfo.nendo) - 1 )
        <tr>
         <td>一人の研究者が、研究代表者として応募できる研究課題数は、1課題です。</td>
        </tr>
        <tr>
         <td>特別研究促進費に応募する場合は、若手研究（スタートアップ）とは重複して応募できません。
         </td>
        </tr>
        <tr>
         <td>特別研究促進費に応募できるのは、
         </td>
        </tr>
        <tr>
         <td>(1) 研究者名簿の登録最終締切日（$!escape.getText($shinseiForm.shinseiDataInfo.meiboDateWareki)）の翌日以降、新たに科学研究費補助金の応募資格を得た者（新たに研究者番号を取得する必要がある者）、
         </td>
        </tr>
        <tr>
         <td>(2) 再び科学研究費補助金の応募資格を得た者、</td>
        </tr>
        <tr>
         <td>(3) 平成${nendo1}年度に産前産後の休暇又は育児休業を取得していたため、　平成${nendo1}年11月に受付が行われた科学研究費補助金に応募できなかった者、
         </td>
        </tr>
        <tr>
         <td>となっております。ご注意ください。</td>
        </tr>
       </table>
       <!-- メニュー用テーブルここまで -->
       <br>
      </td>
     </tr>
    </table>
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
	  #set($ouboShikaku = $!escape.getText($shinseiForm.shinseiDataInfo.ouboShikaku))
	  #if($ouboShikaku == "1" || $ouboShikaku == "2" || $ouboShikaku == "3")
       <td><a href="$link.setAction('/shinsei/dispatchApplication')"><img src="$path/images/bt_ok.gif" width=114 height=28 alt="OK" border=0></a></td>   
	  #end
       <td><a href="$link.setAction('/shinsei/searchListShokushinhi')"><img src="$path/images/bt_cancel.gif" width=114 height=28 alt="キャンセル" border=0></a></td>
	  </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/shinsei/logoff')"><IMG SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <IMG SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
  <!-- 左右の縦線用テーブルここまで -->
</div>
</form>
</body>
</html>
