## ***********************************************
## パスワード再設定通知書画面(所属研究機関担当者向け)
## ***********************************************
## 応募者情報→result
## 
#parse( $commonSetting )
#set ($list= $resultTanto.list)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
</head>
<body class="bodyStyle">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="https://www-shinsei.jsps.go.jp/topkakenhi/download-ka.html#tebiki" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/shozoku/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width="72" height="20" border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#CC6666" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/shozoku/showMainMenu')">所属研究機関担当者向けメニュー</a>＞<a href="$link.setAction('/shozoku/shinseishaKanri/showMenu')">応募者管理</a>（応募者管理メニュー＞応募者情報検索＞応募者情報一覧＞パスワード再設定＞<b>パスワード再設定通知書</b>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width="61" height="49" alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont">
       <br>パスワード再設定通知書</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width="213" height="49" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

    <!-- 本文ここから -->
    <p align="left">パスワードを再設定しました。<br>パスワードは忘れないよう大切に管理してください。</p>
    <p align="left"><font color="#ff0000">このページを印刷する等、応募者に通知してください。</font></p>
    <!-- 一覧用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
     <tr>
      <td>
       <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
        <tr>
         <th align="left">ID</th>
         <td colspan="2">$!escape.getText($!result.shinseishaId)</td>
        </tr>
    
## 2005/03/16 削除 ここから-------------------------------
## 理由 ローマ字氏名項目削除のため
##    <tr>
##     <th rowspan="3" align="left" width="20%">氏名</th>
##     <td colspan="2" width="80%">（漢字等）（姓）$!escape.getText($!result.nameKanjiSei)　（名）$!escape.getText($!result.nameKanjiMei)</td>
##    </tr>
##    <tr>
##     <td colspan="2">（フリガナ）（姓）$!escape.getText($!result.nameKanaSei)　（名）$!escape.getText($!result.nameKanaMei)</td>
##    </tr>
##    <tr>
##     <td colspan="2">（ローマ字）（姓）$!escape.getText($!result.nameRoSei)　（名）$!escape.getText($!result.nameRoMei)</td>
##    </tr>
## 削除 ここまで-------------------------------------------

## 2005/03/16 追加 ここから---------------------------------
## 理由 画面変更による名称変更のため
        <tr>
         <th rowspan="2" align="left" width="20%">氏名</th>
         <td colspan="2" width="80%">（漢字等）（姓）$!escape.getText($!result.nameKanjiSei)　（名）$!escape.getText($!result.nameKanjiMei)</td>
        </tr>
        <tr>
         <td colspan="2">（フリガナ）（姓）$!escape.getText($!result.nameKanaSei)　（名）$!escape.getText($!result.nameKanaMei)</td>
        </tr>
## 追加 ここまで---------------------------------------------

        <tr>
         <th align="left">研究者番号</th>
         <td colspan="2">$!escape.getText($!result.kenkyuNo)</td>
        </tr>
## 2005/03/10 追加 ここから-------------------------------------
## 理由 「生年月日」項目追加
        <tr>
         <th align="left">生年月日</th>
         <td colspan="2">$!dateFormat.format($!escape.getText($!result.birthday))</td>
        </tr>
## 追加 ここまで------------------------------------------------
        <tr>
         <th align="left">所属研究機関名</th>
         <td width="20%">（番号）$!escape.getText($!result.shozokuCd)</td>
         <td width="60%">（和文）$!escape.getText($!result.shozokuName)<br>（英文）$!escape.getText($!result.shozokuNameEigo)</td>
        </tr>
        <tr>
         <th align="left">部局名</th>
         <td>（番号）$!escape.getText($!result.bukyokuCd)</td>
         <td>（和文）$!escape.getText($!result.bukyokuName)</td>
        </tr>
<!--
    <tr>
     <th align="left">部局種別</th>
     <td colspan="2">$!escape.getText($!result.bukyokuShubetuName)</td>
    </tr>
-->
        <tr>
         <th align="left">職名</th>
     
## 2005/04/14 削除 ここから-------------------------------
## 理由 職名の番号は表示なし
##        <td>（番号）$!escape.getText($!result.shokushuCd)</td>
## 削除 ここまで-------------------------------------------

         <td colspan="2">$!escape.getText($!result.shokushuNameKanji)</td>
        </tr>
        <tr>
         <th align="left">パスワード</th>
         <td colspan="2">$!escape.getText($!result.password)</td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
    <p align="center">所属研究機関担当者連絡先</p>
    #set($user = $list.get(0))
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
     <tr>
      <td>
       <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
        <tr>
         <th align="left" width="30%">所属研究機関担当者連絡先</th>
         <td width="70%">$!escape.getText($!user.SHOZOKU_NAME_KANJI)
          <br>$!escape.getText($!user.BUKYOKU_NAME)　$!escape.getText($!user.KAKARI_NAME)
          <br>$!escape.getText($!user.TANTO_NAME_SEI)　$!escape.getText($!user.TANTO_NAME_MEI)
          <br>$!escape.getText($!user.TANTO_EMAIL)
          <br>（電話）$!escape.getText($!user.TANTO_TEL)　　（FAX）$!escape.getText($!user.TANTO_FAX)
          <br>〒$!escape.getText($!user.TANTO_ZIP)　$!escape.getText($!user.TANTO_ADDRESS)
         </td>
        </tr>
       </table>
      </td>
     </tr>
    </table>

    <!-- 一覧用テーブルここまで-->
    <br>
    <!-- 本文ここまで -->

    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><a href="$link.setAction('/shozoku/shinseishaKanri/searchList?')"><img src="$path/images/bt_ok.gif" width="114" height="28" border="0" alt="OK"></a></td>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width="8" height="26" alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/shozoku/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width="72" height="26" border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width="8" height="26" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>