## ***********************************************
## 受理登録対象応募情報一覧
## ***********************************************
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

## ************************************************
#parse( $commonSetting )
## 変数の置き換え
#set ($list= $result.list)
## ***********************************************
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>

##スクリプト
<script language="javascript">
<!--
  ##受理登録
  function onJuriAddClick(systemNo,jigyoCd){
      document.next_form.action="$link.setAction('/gyomu/juri/juriAdd')";
      document.next_form.systemNo.value = systemNo;
      document.next_form.jigyoCd.value = jigyoCd;
      document.next_form.submit();
  }

  ##推薦書登録
  function onSuisenAddClick(systemNo){
      document.next_form.action="$link.setAction('/gyomu/juri/suisenshoAdd')";
      document.next_form.systemNo.value = systemNo;
      document.next_form.submit();
  }

  ##改ページ
  function onPageClick(startPosition){
      document.page_form.action="$link.setAction('/gyomu/juri/searchList')";
      document.page_form.startPosition.value = startPosition;
      document.page_form.submit();
  }

  ##申請書ダウンロード
  function onShinseiDownloadFile(systemNo){
      document.download_form.action="$link.setAction('/gyomu/shinseiKanri/shinseiDownloadFile')";
      document.download_form.systemNo.value=systemNo;
      document.download_form.submit();
  }

  ##推薦書ダウンロード
  function onSuisenDownloadFile(systemNo){
      document.download_form.action="$link.setAction('/gyomu/shinseiKanri/suisenDownloadFile')";
      document.download_form.systemNo.value=systemNo;
      document.download_form.submit();
  }

  ## 2006/06/02　李万軍 変更 ここから-------------------------------------
  ##「全て選択」ボタン　
  function checkCB(){
	//document.myFORM.myRD1.checked = true;
	for(i=0; i<200; i++){
		if(document.myFORM.elements["myRD1"+i] == null){
			break;
		}
		document.myFORM.elements["myRD1"+i].checked = true;
	}
	
  }

  ##「全て解除」ボタン
  function checkCB2(){
	//document.myFORM.myRD2.checked = true;
	for(i=0; i<200; i++){
		if(document.myFORM.elements["myRD2"+i] == null){
			break;
		}
		document.myFORM.elements["myRD2"+i].checked = true;
	}
  }

  ##「一括登録」ボタン処理
  function onAddClick(){
	for(i=0; i<200; i++){
		if(document.myFORM.elements["myRD1"+i] == null){
			break;
		}
		if(document.myFORM.elements["myRD1"+i].checked){
			document.myFORM.selectRadioBn.value="true";
			break;
		}
	}
	
	##１つ以上選択されていたら登録処理を行う
    document.myFORM.action="$link.setAction('/gyomu/juri/ikkatsuJuri')";
    document.myFORM.submit();
  }
  ## 2006/06/02　李万軍 追加 ここまで------------------------------------------------
  
  /* 応募内容ファイル「ダウンロード」ボタンを押下時 */
  function onTenpuDownloadFile(systemNo){
      document.download_form.action="$link.setAction('/gyomu/shinseiKanri/tenpuDownloadFile')";
      document.download_form.systemNo.value=systemNo;
      document.download_form.submit();
  }
//-->
</script>
## ***********************************************
</head>

<body class="bodyStyle">
<form name="myFORM" action="" method="post">
	 <input type="hidden" name="$form.tokenName" value="$form.token"> 
     <input type="hidden" name="selectRadioBn" value="false">
<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="javascript:fncWindowOpen('$path/docs/manual3.pdf','help');"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/gyomu/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width="72" height="20" border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#999966" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/gyomu/showMainMenu')">業務担当者向けメニュー</a>＞受理登録（受理登録対象応募情報検索＞<b>受理登録対象応募情報一覧</b>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width="61" height="49" alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont">
        <br>受理登録対象応募情報一覧</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width="213" height="49" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->
 
    <!-- 本文ここから -->
    ## 2006/06/06　李万軍 追加 ここから
    #errorMarkup()
    ## 追加 ここまで
    #if($list.size() != 0)
      <p align="left">
       <font color="black">$!escape.getText($!result.totalSize)件該当しました。</font><br>
       <font color="blue"><b>$!escape.getText($!result.currentPages)</b></font>
       <font color="black"> ページ目を表示しています。</font><br>　　　
       <font color="blue">
        #foreach($page in $result.pageIndexs)
          #if($velocityCount == $result.currentPages)
            #if($velocityCount == $result.totalPages)
              <b> $!escape.getText($velocityCount)</b>
            #else
              <b> $!escape.getText($velocityCount)</b><font color="black">/</font>
            #end
          #else
            #if($velocityCount == $result.totalPages)
              <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
            #else
              <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
            #end
          #end
        #end
       </font>
       <font color="black">ページに移動します。</font> <br> 　　　
       #if($result.hasPreviousPage())
         <a href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width="64" height="24" alt="前ページ" border="0"></a>
       #end

       #if($result.hasNextPage())
         <a href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width="64" height="24" alt="次ページ" border="0"></a>
	   #end
	  </p>
      <a href="javascript:onAddClick();"><img src="$path/images/bt_all_accept.gif" width="114" height="28" alt="一括受理" border="0"></a>
      ##変更 李万軍 imagesのパスを修正する
      <br>
      <a href="javascript:checkCB()"><img src="$path/images/bt_all_select.gif" width="80" height="24" alt="全て選択" border="0"></a>
	  <a href="javascript:checkCB2()"><img src="$path/images/bt_all_cancel.gif" width="80" height="24" alt="全て解除" border="0"></a>
    #end
    <!-- 一覧用テーブルここから -->
     <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
      <tr>
       <td>
        <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
         <tr>
          <th rowspan="2">一括受理</th>
          <th rowspan="2">研究種目名</th>
		  <th rowspan="2">応募番号</th>
		  <th rowspan="2">系等の区分</th>
		  <th rowspan="2">研究課題名</th>
		  <th rowspan="2">推薦の観点</th>
		  <th colspan="3">応募者</th>
		  <th rowspan="2">推薦書</th>
##2007/02/12 劉長宇　追加 ここから
		  <th rowspan="2">応募内容ファイル(Word・PDF)</th>
##2007/02/12 劉長宇　追加 ここまで
		  <th rowspan="2">研究計画調書確認</th>
		  <th rowspan="2">応募状況</th>
         </tr>
         <tr>
          <th>氏名</th><th>年齢</th><th>所属研究機関名・部局名・職名</th>
         </tr>
         #if($list.size() == 0)
           ##該当件数が０件だった場合
           <tr>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
##2007/02/12 劉長宇　追加 ここから
		    <td>&nbsp;<br>&nbsp;</td>
##2007/02/12 劉長宇　追加 ここまで
            <td>&nbsp;<br>&nbsp;</td>
            <td>&nbsp;<br>&nbsp;</td>
           </tr>
         #else
           #foreach($user in $list)
             #set($jigyoId =$!user.JIGYO_ID)
             #set($jigyoCd = $jigyoId.substring(2,7))
             #set($count = $velocityCount - 1)
             <tr>
              ##変更 李万軍　理由 「全て選択」「全て解除」「一括登録」ボタン処理
              <td>
              ##
              
              ##UPDATE START 2007/07/11 BIS 趙一非
				##<input id="myRD1$count" type="radio" name="systemNos[$count]" value="$!user.SYSTEM_NO" checked>する　
				##<input id="myRD2$count" type="radio" name="systemNos[$count]" value="">しない
				#set($errorFlag="0")
				
				#if ($errors.exist() )
	    			 #foreach ($e in $errors.all )
						#if($e.toString()=="受理する応募情報を一件以上選択してください。")
						#set($errorFlag="1")
						#end
        			#end
    
    			#end
    			#if($errorFlag=="1")
    			<input id="myRD1$count" type="radio" name="systemNos[$count]" value="$!user.SYSTEM_NO">する　
				<input id="myRD2$count" type="radio" name="systemNos[$count]" value="" checked>しない
				#else
				<input id="myRD1$count" type="radio" name="systemNos[$count]" value="$!user.SYSTEM_NO" checked>する　
				<input id="myRD2$count" type="radio" name="systemNos[$count]" value="">しない
				#end
				##UPDATE END 2007/07/11 BIS 趙一非
				
				
              </td>
              <td>
               #if($user.KAISU.toString() == '1' || $user.KAISU.toString() == '0')
	     		平成$!escape.getText($!user.NENDO)年度 $!escape.getText($!user.JIGYO_NAME)
               #else
	     		平成$!escape.getText($!user.NENDO)年度 第$!escape.getText($!user.KAISU)回 $!escape.getText($!user.JIGYO_NAME)
               #end
              </td>
              <td>$!escape.getText($!user.UKETUKE_NO)</td>
              <td>$!escape.getText($!user.KEI_NAME_RYAKU)</td>
              <td>$!escape.getText($!user.KADAI_NAME_KANJI)</td>
              <td>$!escape.getText($!user.KANTEN_RYAKU)</td>
              <td>$!escape.getText($!user.NAME_KANJI_SEI) $!escape.getText($!user.NAME_KANJI_MEI)</td>
              <td>$!escape.getText($!user.NENREI)</td>
              <td>
               #if($user.SHOZOKU_NAME_RYAKU)
                 $!escape.getText($!user.SHOZOKU_NAME_RYAKU) 
               #end
               #if($user.BUKYOKU_NAME_RYAKU)
                 $!escape.getText($!user.BUKYOKU_NAME_RYAKU) 
               #end
               #if($user.SHOKUSHU_NAME_RYAKU)
                 $!escape.getText($!user.SHOKUSHU_NAME_RYAKU)
               #end
              </td>
              <td>
               ##「学術創成研究費（公募）」「学術創成研究費（非公募）」のみ
               #if($user.JIGYO_KUBUN.toString() == '1' || $user.JIGYO_KUBUN.toString() == '2')    
                 <a href="javascript:onSuisenAddClick('$user.SYSTEM_NO');"><img src="$path/images/bt_regist.gif" alt="登録" width="64" height="24" border="0"></a><br>
               #end
               #if($user.SUISENSHO_FLG == 'TRUE')
                 <a href="javascript:onSuisenDownloadFile('$user.SYSTEM_NO');"><img src="$path/images/bt_download.gif" alt="ダウンロード" width="64" height="24" border="0"></a>
               #end
              </td>
##2007/02/12 劉長宇　追加 ここから
			 <td>
			  #if($user.TENPUFILE_FLG  == 'TRUE')
                <a href="javascript:onTenpuDownloadFile('$user.SYSTEM_NO');"><img src="$path/images/bt_download.gif" alt="ダウンロード" width="64" height="24" border="0"></a>
              #end
			 </td>
##2007/02/12 劉長宇　追加 ここまで
              <td><a href="javascript:onShinseiDownloadFile('$user.SYSTEM_NO');"><img src="$path/images/bt_download.gif" alt="ダウンロード" width="64" height="24" border="0"></a></td>
              <td>$!escape.getText($user.JOKYO_NAME)<br>
               #if($user.JOKYO_ID == '04')
                 ##応募状況:学振処理中（承認）:04の場合
                 <a href="javascript:onJuriAddClick('$user.SYSTEM_NO','$jigyoCd');"><img src="$path/images/bt_accept.gif" width="64" height="22" alt="受理登録" border="0"></a>
               #end        
              </td>
             </tr>
           #end
         #end
        </table>
       </td>
      </tr>
     </table>
    <!-- 一覧用テーブルここまで-->
    <br>
	<p align="left">　　
     <font color="blue">&nbsp
      #foreach($page in $result.pageIndexs)
        #if($velocityCount == $result.currentPages)
          #if($velocityCount == $result.totalPages)
            <b> $!escape.getText($velocityCount)</b>
          #else
            <b> $!escape.getText($velocityCount)</b><font color="black">/</font>
          #end
        #else
          #if($velocityCount == $result.totalPages)
            <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a> 
          #else
            <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
          #end
        #end
      #end
     </font>
     <font color="black">ページに移動します。</font><br> 　　　
     #if($result.hasPreviousPage())
       <a href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width="64" height="24" alt="前ページ" border="0"></a>
     #end

     #if($result.hasNextPage())
       <a href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width="64" height="24" alt="次ページ" border="0"></a>
	 #end
	</p>
	</form>
    <!-- 本文ここまで -->
    <!-- ボタン用テーブルここから -->
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
	   <form method="POST" action="$link.setAction('/gyomu/juri/searchList')">
       <td><input type="image" name="$form.cancelName" src="$path/images/bt_bk_acceptsearch.gif" width="219" height="28" border="0" alt="受理登録対象応募情報検索に戻る"></a></td>	   
	   </form>
      </tr>
     </table>
    </div>
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width="8" height="26" alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/gyomu/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width="72" height="26" border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width="8" height="26" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
</div>
##隠しフォーム情報----------
<form name="next_form" action="" method="post">
    <input type="hidden" name="systemNo" >
    <input type="hidden" name="jigyoCd" >
</form>
<form name="page_form" action="" method="post">
    <input type="hidden" name="startPosition" >
</form>
<form name="download_form" action="" method="post">
    <input type="hidden" name="systemNo" >
</form>
##----------

</body>
</html>