<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean name="/forum/moduleManager"
		class="et.bo.forum.moduleManager.action.ModuleManagerAction" singleton="false">			
		<property name="moduleManagerService">
			<ref bean="ModuleManagerService" />
		</property>
		<property name="cts">
			<ref bean="ClassTreeService" />
		</property>				
	</bean>
	<!--  service begin -->	
	<bean id="ModuleManagerService"
		class="et.bo.forum.moduleManager.service.impl.ModuleManagerServiceImpl" singleton="true">
		<property name="cts">
			<ref bean="ClassTreeService" />
		</property>	
		<property name="ks">
			<ref bean="KeyService" />
		</property>
		<property name="dao">
			<ref bean="ForumDao" />
		</property>
	</bean>
</beans>
