## ***********************************************
## 特別研究促進費（基盤研究(B)相当） → ShinseiForm
## ***********************************************
## 2006/02/12 新規作成
#parse($commonSetting)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
		<title>JSPS 電子申請システム</title>
		<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
		<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpenClose.js"></script>
	</head>
	<body class="bodyStyle" onUnload="javascript:fncKeepedWindowClose();">
		## スクリプト*************************************
		<script language=javascript>
			<!--
			/* ボタン連打制御フラグ */
			var lockButton = 0;
			var sleepButton = 10000;
	
			function onCheck(){
			if(document.shinsei_form.page.value == "0"){
			return false;
			}else{
			return true;
			}
			}
			function onUpload(){
			document.upload_form.action="$link.setAction("/shinsei/uploadFile")";
			document.upload_form.target="tmp";
			document.upload_form.submit();
			}
			function onTransientSave(){
			document.shinsei_form.action="$link.setAction("/shinsei-shokushinhi-kibanB/transientSaveApplication")";
			document.shinsei_form.page.value="1";
			document.shinsei_form.submit();
			}
			function onSave(){
			document.shinsei_form.action="$link.setAction("/shinsei-shokushinhi-kibanB/registApplication")";
			document.shinsei_form.page.value="2";
			document.shinsei_form.submit();
			}
			function onTransientSaveWithUpload(){
			//サブウィンドウが開いたままの場合は処理中止
			if(fncAlertWindowOpen("「研究組織表」画面の[OK]をクリックしてから再度実行してください。")){
			//バックグラウンドで処理を実行する
			if(lockButton == 0) {
				setTimeout("onUpload();", 0);
				setTimeout("onTransientSave();", 500);
				lockButton = 1;
				setTimeout("lockButton = 0", sleepButton);
			}
			}
			}
			function onSaveWithUpload(){
			//サブウィンドウが開いたままの場合は処理中止
			if(fncAlertWindowOpen("「研究組織表」画面の[OK]をクリックしてから再度実行してください。")){
			//バックグラウンドで処理を実行する
			if(lockButton == 0) {
				setTimeout("onUpload();", 0);		
				setTimeout("onSave();", 500);
				lockButton = 1;
				setTimeout("lockButton = 0", sleepButton);
			}		
			}
			}	
			//-->
		</script>
		## ***********************************************
		<form name="shinsei_form" method="post" action="" onSubmit="return onCheck()">
			<input type="hidden" name="page" value="0">	<!-- Validate処理をコマンドによって変更させるため -->
			<input type="hidden" name="yoshikiShubetu" value="$shinseiForm.yoshikiShubetu">	<!-- Validate処理を応募種別によって変更させるため -->
			<input type="hidden" name="$form.tokenName" value="$form.token">	<!-- ２重押し防止のため -->
			<div align="center">
				<!-- ヘッダー 用テーブルここから-->
				<table width="95%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
						<td align="right" background="$path/images/header_bg2.gif">
							<!-- ヘルプ、ログアウトボタン用テーブルここから -->
							<table border="0" cellpadding="0" cellspacing="1">
								<tr>
									<td colspan="2"><img src="$path/images/spacer.gif" width="1" height="15"></td>
								</tr>
								<tr>
									<td><a href="https://www-shinsei.jsps.go.jp/topkakenhi/download-ka.html#tebiki" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
									<td><a href="$link.setAction('/shinsei/logoff')"><img SRC="$path/images/header_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=20 border="0"></a></td>
								</tr>
							</table>
							<!-- ヘルプ、ログアウトボタン用テーブルここまで -->
						</td>
						<td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
					</tr>
				</table>
				<!--  ヘッダー 用テーブルここまで-->
				<!-- 左右の縦線用テーブルここから -->
				<table width="95%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
						<td>
							<!-- コンテンツエリアここから -->
							<!-- ログインユーザ、ルート情報用テーブルここから　-->
							<table width="100%" border="0" cellpadding="4" cellspacing="0">
								<tr>
									<td bgcolor="#6699CC" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/shinsei/showMainMenu')">応募者向けメニュー</a>＞研究計画調書作成（<b>応募情報入力</b><font size="1">＞応募情報又は研究計画調書確認＞応募情報又は研究計画調書確認完了</font>）</td>
</tr>
</table>
<!-- ログインユーザ、ルート情報用テーブルここまで　-->
<!-- サブ画面タイトル用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr valign="bottom">
		<td width="1%" background="$path/images/subtitle_img2.gif"><img SRC="$path/images/subtitle_img1.gif" WIDTH=61 HEIGHT=49 ALT=""></td>
		<td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
			応募情報入力</td>
			<td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img SRC="$path/images/subtitle_img3.gif" width=213 height=49 ALT=""></td>
	</tr>
</table>
<!-- サブ画面タイトル用テーブルここまで -->
<!-- 注意事項ここから -->
<p class="comment">＜注意事項＞</p>
<ul>
	#*<li class="comment">
		研究計画調書は応募情報と応募内容ファイル（Word等）から構成されます。<br>
		応募内容ファイル様式をダウンロードしていない方は「受付中研究種目一覧」へ戻り、ダウンロードしてください。
	</li>*#
	<li class="comment">
		<font color="#FF0000">
			*</font>のついた項目は必須項目です。</li>
			#if( !($shinseiForm.shinseiDataInfo.jokyoId) || ($shinseiForm.shinseiDataInfo.jokyoId == "01") )
				<li class="comment">
					入力中に、一定時間、ボタン操作をせずにおくと、セッションタイムアウトにより、入力した情報が保存されない場合があります。随時[一時保存<!--して中断-->]ボタンをクリックして情報を保存して下さい。もし、セッションタイムアウトのエラーメッセージが出た場合は、「電子申請のご案内」ページの「よくあるご質問」をご参照下さい。
				</li>
			#end
</ul>
<!-- 注意事項ここまで -->
<!-- ボタン用テーブルここから -->
<div align="center">
	<table border="0" cellpadding="0" cellspacing="4">
		<tr>
			<td><a href="javascript:onSaveWithUpload()"><img src="$path/images/bt_forward.gif" alt="次へ進む" width="219" height="28" border="0"></a></td>
			#if( !($shinseiForm.shinseiDataInfo.jokyoId) || ($shinseiForm.shinseiDataInfo.jokyoId == "01") )
				<td><a href="javascript:onTransientSaveWithUpload()"><img src="$path/images/bt_keep.gif" alt="一時保存して中断" width="219" height="28" border="0"></a></td>
			#end
			#if( !($shinseiForm.shinseiDataInfo.systemNo) || ($shinseiForm.shinseiDataInfo.systemNo == "") )
				<td><a href="$link.setAction('/shinsei/searchListShokushinhi')"><img src="$path/images/bt_back.gif" alt="保存せずに戻る" width="219" height="28" border="0"></a></td>
				#else
					<td><a href="$link.setAction('/shinsei/processStatusList')"><img src="$path/images/bt_back.gif" alt="保存せずに戻る" width="219" height="28" border="0"></a></td>
			#end
		</tr>
	</table>
</div>
<!-- ボタン用テーブルここまで -->
<!-- 本文ここから -->
<div align="left">
	#errorExistMsgKiban()
	#errorMarkupForGlobalError()
	<center>      
		<table border="0" cellpadding="0" cellspacing="0" width="800">
			<tbody>
				<tr>
					<td>
						<div align="center">
							<table border="0" cellpadding="0" cellspacing="0" width="800">
								<tbody>
									<tr>
										<td align="center">
											<p align="center"><b><font size="4">
														平成$!escape.getText($!shinseiForm.shinseiDataInfo.nendo)年度（20$!escape.getText($!shinseiForm.shinseiDataInfo.nendoSeireki)年度）
														#if($shinseiForm.shinseiDataInfo.kaisu != "1")
															第$!escape.getText($!shinseiForm.shinseiDataInfo.kaisu)回
														#end
														$!escape.getText($!shinseiForm.shinseiDataInfo.jigyoName)　研究計画調書</font></b></p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
	#errorMarkupForProperty("shinseiDataInfo.shinsaRyoikiCd")
	#errorMarkupForProperty("shinseiDataInfo.shinseiKubun")
	#errorMarkupForProperty("shinseiDataInfo.kadaiNoKeizoku")
	#errorMarkupForProperty("shinseiDataInfo.kadaiInfo.bunkaSaimokuCd")
	#errorMarkupForProperty("shinseiDataInfo.kadaiInfo.bunkatsuNo")      
	#errorMarkupForProperty("shinseiDataInfo.kigou")
	#errorMarkupForProperty("shinseiDataInfo.keyOtherName")
	<div align="left">
		<center>
			<input type="hidden" name="shinseiDataInfo.shinseiKubun" value="1">
			<table border="1" cellpadding="0" cellspacing="0" width="800" bgcolor="#ffffff">
				<tbody>
##2007/02/07 劉長宇　追加　ここから
					<tr>
						<th>審査希望分野</th>
						<td valign="middle" colspan="3"><font color="#ff0000">*</font>
							<select name="shinseiDataInfo.shinsaRyoikiCd" size="1">
								<option></option>
                     　			#showOptions($shinseiForm.shinsaKiboRyoikiList $shinseiForm.shinseiDataInfo.shinsaRyoikiCd)   
                    　		</select>
                   　	</td>
					</tr>
##2007/02/07 劉長宇　追加　ここまで
					<tr>
						<th width="180">関連する細目番号　<a href="$link.setAction('/saimokuList')" target="_blank"><img src="$path/images/bt_list.gif" alt="一覧" width="41" height="22" border="0"></a></th>
						<td valign="middle"><font color="#ff0000">*</font><input size="8" name="shinseiDataInfo.kadaiInfo.bunkaSaimokuCd" value="$!escape.getText($!shinseiForm.shinseiDataInfo.kadaiInfo.bunkaSaimokuCd)"></td>
					</td>
				</tr>
				<tr>
					<th>分割番号</th>
					<td valign="middle"><input size="2" name="shinseiDataInfo.kadaiInfo.bunkatsuNo" value="$!escape.getText($!shinseiForm.shinseiDataInfo.kadaiInfo.bunkatsuNo)"></td>
				</tr>
##2007/02/07 劉長宇　削除 ここから
##				<tr>
##					<th>分野</th>
##					<td valign="middle">$!escape.getText($!shinseiForm.shinseiDataInfo.kadaiInfo.bunya)　</td>
##				</tr>
##				<tr>
##					<th>分科</th>
##					<td valign="middle">$!escape.getText($!shinseiForm.shinseiDataInfo.kadaiInfo.bunka)　</td>
##				</tr>
##2007/02/07 劉長宇　削除 ここまで
				<tr>
					<th>細目</th>
					<td valign="middle">$!escape.getText($!shinseiForm.shinseiDataInfo.kadaiInfo.saimokuName)　</td>
				</tr>
				<tr>
					<th>細目表キーワード
						<a href="$link.setAction('/keywordList')" target="_blank">
							<img src="$path/images/bt_list.gif" alt="一覧" width="41" height="22" border="0">
						</a>
					</th>
					<td valign="middle"><font color="#ff0000">*</font><input size="2" name="shinseiDataInfo.kigou" value="$!escape.getText($!shinseiForm.shinseiDataInfo.kigou)">$!escape.getText($!shinseiForm.shinseiDataInfo.keyName)
						<font size="1">（「細目表キーワード一覧」から、入力した「細目番号」中の該当するキーワードの「記号」を入力してください。）</font>
					</td>
				</tr>
				<tr>
					<th>細目表以外のキーワード</th>
					<td valign="middle"><input size="60" name="shinseiDataInfo.keyOtherName" value="$!escape.getText($!shinseiForm.shinseiDataInfo.keyOtherName)"></td>
				</tr>
			</tbody>
		</table>
	</center>
	<p align="left"></p>
	#errorMarkupForProperty("nenreiInvalid")
	#errorMarkupForProperty("shinseiDataInfo.daihyouInfo.bukyokuName")
	#errorMarkupForProperty("shinseiDataInfo.daihyouInfo.shokushuNameKanji")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList[0].gakui")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList[0].senmon")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList[0].effort")
	#errorMarkupForProperty("shinseiDataInfo.kadaiInfo.kadaiNameKanji")
	<center>
		<table border="1" cellpadding="0" cellspacing="0" width="800" bgcolor="#ffffff">
			<tbody>
				<tr>
					<th rowspan="2" width="150">研究代表者氏名</th>
					<td colspan="2" valign="middle">
						（フリガナ）$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.nameKanaSei)　$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.nameKanaMei)
					</td>
				</tr>
				<tr>
					<td colspan="2" valign="middle">
						（漢字等）$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.nameKanjiSei)　$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.nameKanjiMei)
					</td>
				</tr>
				#set($info = $shinseiForm.shinseiDataInfo.kenkyuSoshikiInfoList.get(0))
				#set($shinseishaInfo = $userContainer.userInfo.shinseishaInfo)
##2007/02/14 劉長宇　削除 ここから
##	                <tr>
##		              <th>年齢</th>
##					  <td colspan="2" valign="middle">$!escape.getText($info.nenrei)才　　（$!escape.getText($dateUtil.getJpyString($shinseishaInfo.birthday))生まれ）</td>
##					</tr>
##2007/02/14 劉長宇　削除 ここまで
					<tr>
						<th>所属研究機関</th>
						<td valign="middle" width="180">（番号）$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.shozokuCd)</td>
						<td valign="middle" width="500">$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.shozokuName)</td>
					</tr>
					<tr>
						<th>部局</th>
						<td valign="middle">（番号）$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.bukyokuCd)</td>
						<td valign="middle"><input size="20" name="shinseiDataInfo.daihyouInfo.bukyokuName" value="$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.bukyokuName)" #ChkBukyokuCd($!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.bukyokuCd))>
							<font size="1">（その他等の番号を使用した場合に記入）</font>
						</td>
					</tr>
					<tr>
						<th>職</th>
						<td valign="middle">（番号）$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.shokushuCd)</td>
						<td valign="middle"><input size="20" name="shinseiDataInfo.daihyouInfo.shokushuNameKanji" value="$!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.shokushuNameKanji)" #ChkShokuCd($!escape.getText($!shinseiForm.shinseiDataInfo.daihyouInfo.shokushuCd))>
							<font size="1">（「研究員」、「その他」を選択した場合に記入）</font>
						</td>
					</tr>
					<!--         <tr>
						<th>学位</th>
						<td colspan="2" valign="middle"><font color="#ff0000">*</font><input size="40" name="shinseiDataInfo.kenkyuSoshikiInfoList[0].gakui" value="$!escape.getText($!info.gakui)"></td>
					</tr>
					<tr>
						<th>現在の専門</th>
						<td colspan="2" valign="middle"><font color="#ff0000">*</font><input size="40" name="shinseiDataInfo.kenkyuSoshikiInfoList[0].senmon" value="$!escape.getText($!info.senmon)"></td>
					</tr>
					<tr>
						<th>エフォート</th>
						<td colspan="2" valign="middle"><font color="#ff0000">*</font><input size="5" name="shinseiDataInfo.kenkyuSoshikiInfoList[0].effort" value="$!escape.getText($!info.effort)" maxlength="3">%</td>
					</tr>  -->       
					<tr>
						<th>研究課題名</th>
						<td colspan="2" valign="middle" width="650">（全角40字以内。半角は使用不可）<br>
							<font color="#ff0000">*</font><input size="80" name="shinseiDataInfo.kadaiInfo.kadaiNameKanji" value="$!escape.getText($!shinseiForm.shinseiDataInfo.kadaiInfo.kadaiNameKanji)">
						</td>
					</tr>
			</tbody>
		</table>
	</center>
	<p align="left">【研究経費（千円未満の端数は切り捨てる）】&nbsp; (0の場合も記入すること。）<br>
		#set($soukeiInfo = $shinseiForm.shinseiDataInfo.kenkyuKeihiSoukeiInfo)
		#errorMarkupForProperty("shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi")
		#foreach($keihiInfo in $soukeiInfo.kenkyuKeihi)
			#set($count = $velocityCount - 1)
			#errorMarkupForProperty("shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].bihinhi")
			#errorMarkupForProperty("shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].shomohinhi")
			#errorMarkupForProperty("shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].ryohi")
			#errorMarkupForProperty("shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].shakin")
			#errorMarkupForProperty("shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].sonota")
		#end
		#errorMarkupForProperty("shinseidataInfo.kenkyuKeihiSoukeiInfo.keihiTotal")
		#errorMarkupForProperty("shinseiDataInfo.buntankinFlg")
	</p>
	<center>
		<table border="1" cellpadding="0" cellspacing="0" width="800" bgcolor="#ffffff">
			<tbody>
				<tr>
					<th rowspan="2">年度</th>
					<th rowspan="2">研究経費<br>（千円）</th>
					<th colspan="5">使用内訳（千円）</th>
				</tr>
				<tr>
					<th>設備備品費</th>
					<th>消耗品費</th>
					<th>旅費</th>
					<th>謝金等</th>
					<th>その他</th>
				</tr>
				#set($soukeiInfo = $shinseiForm.shinseiDataInfo.kenkyuKeihiSoukeiInfo)
				#foreach($keihiInfo in $soukeiInfo.kenkyuKeihi)
					#set($count = $velocityCount - 1)          
					#if($velocityCount < 5)
							#set($nendo = $!escape.getIntValue($shinseiForm.shinseiDataInfo.nendo) + $count)
							<tr>
								<th>平成$!escape.getText(${nendo})年度</th>
								<td align="right">$!escape.getText($!keihiInfo.keihi)</td>
								<td><font color="#ff0000">*</font><input size="12" style="text-align:right" name="shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].bihinhi" value="$!escape.getText($!keihiInfo.bihinhi)"></td>
								<td><font color="#ff0000">*</font><input size="12" style="text-align:right" name="shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].shomohinhi" value="$!escape.getText($!keihiInfo.shomohinhi)"></td>
								<td><font color="#ff0000">*</font><input size="12" style="text-align:right" name="shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].ryohi" value="$!escape.getText($!keihiInfo.ryohi)"></td>
								<td><font color="#ff0000">*</font><input size="12" style="text-align:right" name="shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].shakin" value="$!escape.getText($!keihiInfo.shakin)"></td>
								<td><font color="#ff0000">*</font><input size="12" style="text-align:right" name="shinseiDataInfo.kenkyuKeihiSoukeiInfo.kenkyuKeihi[$count].sonota" value="$!escape.getText($!keihiInfo.sonota)"></td>
							</tr>
					#end
				#end
				<tr>
					<th>総計</th>
					<td align="right">$!escape.getText($!soukeiInfo.keihiTotal)</td>
					<td align="right">$!escape.getText($!soukeiInfo.bihinhiTotal)</td>
					<td align="right">$!escape.getText($!soukeiInfo.shomohinhiTotal)</td>
					<td align="right">$!escape.getText($!soukeiInfo.ryohiTotal)</td>
					<td align="right">$!escape.getText($!soukeiInfo.shakinTotal)</td>
					<td align="right">$!escape.getText($!soukeiInfo.sonotaTotal)</td>
				</tr>
				<tr>
					<th>分担金の配分</th>
					<td colspan="6"><font color="#ff0000">*</font>
						<select name="shinseiDataInfo.buntankinFlg">
							#showOptionsWithEmpty($shinseiForm.buntankinList $shinseiForm.shinseiDataInfo.buntankinFlg)
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
	<p aling="left"></p>
	#errorMarkupForProperty("shinseiDataInfo.kaijikiboFlgNo")
	#errorMarkupForProperty("sikakuDate")
	#errorMarkupForProperty("sikakuDateYear")
	#errorMarkupForProperty("sikakuDateMonth")
	#errorMarkupForProperty("sikakuDateDay")
	#errorMarkupForProperty("shinseiDataInfo.syuTokumaeKikan")
	#errorMarkupForProperty("ikukyuStartDate")
	#errorMarkupForProperty("ikukyuStartDateYear")
	#errorMarkupForProperty("ikukyuStartDateMonth")
	#errorMarkupForProperty("ikukyuStartDateDay")
	#errorMarkupForProperty("ikukyuEndDate")
	#errorMarkupForProperty("ikukyuEndDateYear")
	#errorMarkupForProperty("ikukyuEndDateMonth")
	#errorMarkupForProperty("ikukyuEndDateDay")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList") 
##ADD　START 2007/07/24 BIS 金京浩 //区分のドロップボックスの空白の場合はエラーとする
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.buntanFlag")
##ADD　END　 2007/07/24 BIS 金京浩       
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.kenkyuNo")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.nameKanjiSei")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.nameKanjiMei")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.nameKanaSei")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.nameKanaMei")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.nenrei")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.shozokuCd")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.bukyokuCd")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.bukyokuName")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.shokushuCd")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.shokushuNameKanji")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.senmon")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.gakui")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.buntan")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.keihi")
	#errorMarkupForProperty("shinseiDataInfo.kenkyuSoshikiInfoList.effort")
	<center>
		<table border="1" cellpadding="0" cellspacing="0" width="800" bgcolor="#ffffff">
			<tbody>
				<tr>
					<th>開示希望の有無</th>
					<td><font color="#ff0000">*</font>
						<select name="shinseiDataInfo.kaijikiboFlgNo">
							#showOptionsWithEmpty($shinseiForm.kaijiKiboList $shinseiForm.shinseiDataInfo.kaijikiboFlgNo)
						</select><br>
					</td>
				</tr>
				<tr>
					<th>応募資格</th>
					<td>
						#set($nendo1 = $!escape.getIntValue($shinseiForm.shinseiDataInfo.nendo) - 1 )
						#if($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 1)
							(1)研究者名簿の登録最終締切日($!escape.getText($shinseiForm.shinseiDataInfo.meiboDateWareki))の翌日以降、新たに科学研究費補助金の応募資格を得た者
							#elseif($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 2)
								(2)研究者名簿の登録最終締切日($!escape.getText($shinseiForm.shinseiDataInfo.meiboDateWareki))の翌日以降に、再び科学研究費補助金の応募資格を得た者
								#elseif($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 3)
									(3)平成${nendo1}年度に産前産後の休暇又は育児休業を取得していたため、平成${nendo1}年11月に受付が行われた科学研究費補助金に応募できなかった者 
						#end
					</td>
				</tr>
				<tr>
					<th>
						#if($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 1)
							新たに科研費の応募資格を得た年月日
							#elseif($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 2)
								再び科研費の応募資格を得た年月日及び応募資格を得る前の所属研究機関等
								#elseif($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 3)
									産前産後の休暇の取得期間又は育児休業の取得期間
						#end
					</th>
					<td><font color="#ff0000">*</font>平成
						#if($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 1)
							<select size="1" name="sikakuDateYear">
								#showOptionsWithEmpty($shinseiForm.sikakuDateList $shinseiForm.sikakuDateYear)
							</select>年
							<select size="1" name="sikakuDateMonth">
								<option></option>
								#monthOptions($!shinseiForm.sikakuDateMonth)
							</select>月
							<select size="1" name="sikakuDateDay">
								<option></option>
								#dayOptions($!shinseiForm.sikakuDateDay)
							</select>日
							#elseif($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 2)
								<select size="1" name="sikakuDateYear">
									#showOptionsWithEmpty($shinseiForm.sikakuDateList $shinseiForm.sikakuDateYear)
								</select>年
								<select size="1" name="sikakuDateMonth">
									<option></option>
									#monthOptions($!shinseiForm.sikakuDateMonth)
								</select>月
								<select size="1" name="sikakuDateDay">
									<option></option>
									#dayOptions($!shinseiForm.sikakuDateDay)
								</select>日
								<br>
								所属研究機関等：<input size="60" name="shinseiDataInfo.syuTokumaeKikan" value="$!escape.getText($!shinseiForm.shinseiDataInfo.syuTokumaeKikan)">
								#elseif($!escape.getIntValue($!shinseiForm.shinseiDataInfo.ouboShikaku) == 3)
									<select size="1" name="ikukyuStartDateYear">平成
										#showOptionsWithEmpty($shinseiForm.ikukyuStartDateList $shinseiForm.ikukyuStartDateYear)
									</select>年
									<select size="1" name="ikukyuStartDateMonth">
										<option></option>
										#monthOptions($!shinseiForm.ikukyuStartDateMonth)
									</select>月
									<select size="1" name="ikukyuStartDateDay">
										<option></option>
										#dayOptions($!shinseiForm.ikukyuStartDateDay)
									</select>日
									から平成
									<select size="1" name="ikukyuEndDateYear">
										#showOptionsWithEmpty($shinseiForm.sikakuDateList $shinseiForm.ikukyuEndDateYear)
									</select>年<select size="1" name="ikukyuEndDateMonth">
										<option></option>
										#monthOptions($!shinseiForm.ikukyuEndDateMonth)
									</select>月<select size="1" name="ikukyuEndDateDay">
										<option></option>
										#dayOptions($!shinseiForm.ikukyuEndDateDay)
									</select>日まで
						#end
					</td>
				</tr>
				<tr>
					<th>研究組織</th>
					<td valign="middle"><a href=javascript:fncWindowOpenAndKeep("$link.setAction('/shinsei/kenkyuSoshikiListView')","kenkyuSoshiki")>
							<img src="$path/images/bt_listentry.gif"　width="219" height="28" alt="研究組織表入力" border="0"></a></td>
				</tr>
			</tbody>
		</table>
	</center>
</form>	
##2007/02/06 劉長宇　追加　ここから	
<p align="left"></p>
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#6699CC" class="rootFont">　</td>
     </tr>
    </table>
    <table border="0" width="100%">
     <tr>
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width="61" height="49" alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont"> <br>
        応募内容ファイル選択</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width="213" height="49" alt=""></td>
     </tr>
    </table>
	<div align="left">
#errorMarkupForProperty("uploadFile")
<form name="upload_form" method="post" action="" enctype="multipart/form-data">  
       記入した応募内容ファイル（Word又はPDF）を選択してください。<br>
    <input type="file" size="100" name="uploadFile">
</form>
    <ul>
     <li class="comment">応募内容を修正する場合は、修正済みの応募内容ファイルを選択しなおすと、前のファイルが削除されて上書きされます。</li>
     <li class="comment">応募内容ファイルに修正がない場合、応募内容ファイル選択欄は空欄のままで構いません。</li>
     <li class="comment">応募内容ファイルについてはWordファイルの代わりにPDFファイルを選択することも可能です。（PDFファイルは応募内容ファイル様式（Word又は本会並びに文部科学省が提供する様式）を基に作成したものに限ります。）</li>
    </ul>
<br>
##2007/02/06 劉長宇　追加　ここまで
<div align="center">
	<table border="0" cellpadding="0" cellspacing="4">
		<tr>
			<td><a href="javascript:onSaveWithUpload()"><img src="$path/images/bt_forward.gif" alt="次へ進む" width="219" height="28" border="0"></a></td>
			#if( !($shinseiForm.shinseiDataInfo.jokyoId) || ($shinseiForm.shinseiDataInfo.jokyoId == "01") )
				<td><a href="javascript:onTransientSaveWithUpload()"><img src="$path/images/bt_keep.gif" alt="一時保存して中断" width="219" height="28" border="0"></a></td>
			#end
			#if( !($shinseiForm.shinseiDataInfo.systemNo) || ($shinseiForm.shinseiDataInfo.systemNo == "") )
				<td><a href="$link.setAction('/shinsei/searchListShokushinhi')"><img src="$path/images/bt_back.gif" alt="保存せずに戻る" width="219" height="28" border="0"></a></td>
				#else
					<td><a href="$link.setAction('/shinsei/processStatusList')"><img src="$path/images/bt_back.gif" alt="保存せずに戻る" width="219" height="28" border="0"></a></td>
			#end
		</tr>
	</table>
</div>
<!-- ボタン用テーブルここまで -->
<!-- サブ画面フッター用テーブルここから -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr bgcolor="#336699">
		<td width="8" background="$path/images/footer_img2.gif"> <img SRC="$path/images/footer_img1.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
		<td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/shinsei/logoff')"><img SRC="$path/images/footer_logout.gif" ALT="ログアウト" WIDTH=72 HEIGHT=26 border="0"></a></td>
		<td width="8" align="right" background="$path/images/footer_img2.gif"> <img SRC="$path/images/footer_img3.gif" WIDTH=8 HEIGHT=26 ALT=""></td>
	</tr>
</table>
<!-- サブ画面フッター用テーブルここまで -->
<!-- コンテンツエリアここまで -->
</td>
<td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
</tr>
</table>
<!-- 左右の縦線用テーブルここまで -->
</div>
</body>
</html>
