## 応募情報検索フォーム情報→shinsainSearchForm
## 検索結果ページ情報→result
## ***********************************************
## 応募情報一覧
## ***********************************************

#parse( $commonSetting )
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>JSPS 電子申請システム</title>
<link href="$path/css/jspsstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="javascript" src="$path/js/fncWindowOpen.js"></script>
## スクリプト*************************************
<script language="javascript">
<!--
    /* PDFダウンロード */
    function onDownloadPdf(systemNo){
        document.shinsei_form.action="$link.setAction("/shozoku/downloadPdf")";
        document.shinsei_form.systemNo.value=systemNo;
        document.shinsei_form.submit();
    }

    /* CSV出力 */
    function onDownloadCsv(){
        document.shinsei_form.action="$link.setAction("/shozoku/shinseiJohoKanri/csvOut")";
        document.shinsei_form.submit();
    }

    /* 応募者情報 */
    function onShinseishaData(shinseishaId){
        window.open("","nw","toolbar=0,status=0,menubar=0,resizable=yes,scrollbars=yes");

        document.shinseisha_form.action="$link.setAction("/shozoku/shinseiJohoKanri/shinseishaJoho")";
        document.shinseisha_form.shinseishaId.value=shinseishaId;
        document.shinseisha_form.target="nw";
        document.shinseisha_form.submit();
    }

    /* 応募却下確認 */
    function onKyakka(systemNo){
        document.shinsei_form.action="$link.setAction("/shozoku/shinseiJohoKanri/kyakka")";
        document.shinsei_form.systemNo.value=systemNo;
        document.shinsei_form.submit();
    }

    /* ページに移動 */
    function onPageClick(startPosition){
        document.page_form.action="$link.setAction("/shozoku/shinseiJohoKanri/searchList")";
        document.page_form.startPosition.value = startPosition;
        document.page_form.submit();
    }

    /* 応募情報管理リンク */
    function onLinkClick(){
        document.link_form.action="$link.setAction("/shozoku/shinseiJohoKanri/searchList")";
        document.link_form.startPosition.value= 0;
        document.link_form.submit();
    }

/* 20050707 */
    /* 応募状況詳細 */
    function onCommentConfirm(systemNo){
        window.open("","nw2","toolbar=0,status=0,menubar=0,resizable=yes,scrollbars=yes");
        document.shinsei_form2.action="$link.setAction("/shozoku/shinseiJohoKanri/commentConfirm")";
        document.shinsei_form2.systemNo.value=systemNo;
        document.shinsei_form2.target="nw2";
        document.shinsei_form2.submit();
    }
/* Horikoshi */

    /* 応募情報検索に戻る 2006/07/20 dyh add */
    function onBackClick(){
        document.link_form.action="$link.setAction('/shozoku/shinseiJohoKanri/searchList')";
        document.link_form.startPosition.value= 0;
        document.link_form.submit();
    }
//-->
</script>
## ***********************************************
</head>

<body class="bodyStyle">
## 変数の置き換え
#set ($list= $result.list)

<div align="center">
 <!-- ヘッダー 用テーブルここから-->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="307" valign="top" background="$path/images/header_bg2.gif"><img src="$path/images/header_logo.gif" alt="JSPS　独立行政法人　日本学術振興会　電子申請システム" width="307" height="58"></td>
   <td align="right" background="$path/images/header_bg2.gif">
    <!-- ヘルプ、ログアウトボタン用テーブルここから -->
    <table border="0" cellpadding="0" cellspacing="1">
     <tr>
      <td colspan="2"><img src="$path/images/spacer.gif" alt="" width="1" height="15"></td>
     </tr>
     <tr>
      <td><a href="https://www-shinsei.jsps.go.jp/topkakenhi/download-ka.html#tebiki" target="_blank"><img src="$path/images/header_help.gif" alt="ヘルプ" width="72" height="20" border="0"></a></td>
      <td><a href="$link.setAction('/shozoku/logoff')"><img src="$path/images/header_logout.gif" alt="ログアウト" width="72" height="20" border="0"></a></td>
     </tr>
    </table>
    <!-- ヘルプ、ログアウトボタン用テーブルここまで -->
   </td>
   <td width="6" align="right" background="$path/images/header_bg2.gif"><img src="$path/images/header_bg3.gif" alt="" width="6" height="58"></td>
  </tr>
 </table>
 <!--  ヘッダー 用テーブルここまで-->
 <!-- 左右の縦線用テーブルここから -->
 <table width="95%" border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
   <td>
    <!-- コンテンツエリアここから -->
    <!-- ログインユーザ、ルート情報用テーブルここから　-->
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
     <tr>
      <td bgcolor="#CC6666" class="rootFont"><font color="#FFFFFF"><a href="$link.setAction('/shozoku/showMainMenu')">所属研究機関担当者向けメニュー</a>＞<a href="javascript:onLinkClick()">応募情報管理</a>（応募情報検索＞<b>応募情報一覧</b>）</font></td>
     </tr>
    </table>
    <!-- ログインユーザ、ルート情報用テーブルここまで　-->
    <!-- サブ画面タイトル用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr valign="bottom">
      <td width="1%" background="$path/images/subtitle_img2.gif"><img src="$path/images/subtitle_img1.gif" width="61" height="49" alt=""></td>
      <td width="90%" valign="middle" background="$path/images/subtitle_img2.gif" class="subTitlefont">
        <br>応募情報一覧</td>
      <td width="1%" align="right" background="$path/images/subtitle_img2.gif"> <img src="$path/images/subtitle_img3.gif" width="213" height="49" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面タイトル用テーブルここまで -->

    <!-- 本文ここから -->
    <p class="comment"> ＜注意事項＞</p>
    <ul>
## 20050622
##    <li class="comment">
##     [承認]ボタンから応募書を承認すると日本学術振興会へ応募書が送信されます。</li>
## Horikoshi
     <li class="comment">[却下]ボタンから応募情報又は研究計画調書を却下すると応募情報又は研究計画調書は日本学術振興会に送信されません。</li>
     <li class="comment">PDFファイルの内容を確認するには、Adobe Acrobat Readerが必要です。まだインストールしていない方は下のボタンをクリックしてインストールしてください。
      <br><a target="_blank" href="http://www.adobe.co.jp/products/acrobat/readstep2.html"><img src="$path/images/getreader.gif" border="0" height="31" width="88" alt="Get Adobe Reader"></a></li>
     <li class="comment">応募状況の意味は<a href="$path/code/status2.html" target="_blank">こちら</a>を参照してください。</li>
## 20050711
     <li class="comment">応募状況の文字がリンクになっている場合、日本学術振興会からコメントがありますのでクリックして確認してください。</li>
## Horikoshi
     <li class="comment">以下には応募者が作成した情報が表示されます。最新の応募者情報は応募者名をクリックして確認してください。 </li>
    </ul>
    <p align="left"><a href="javascript:onDownloadCsv()"><img src="$path/images/bt_csv.gif" width="114" height="28" alt="CSV出力" border="0"></a></p>
    <font color="black">$!escape.getText($!result.totalSize) 件該当しました。</font><br>
    <font color="blue"><b>$!escape.getText($!result.currentPages)</b></font>
    <font color="black"> ページ目を表示しています。</font><br>
    <font color="blue">
     #foreach($page in $result.pageIndexs)
       #if($velocityCount == $result.currentPages)
         #if($velocityCount == $result.totalPages)
           <b> $!escape.getText($velocityCount)</b>
         #else
           <b> $!escape.getText($velocityCount)</b><font color="black">/</font>
         #end
       #else
         #if($velocityCount == $result.totalPages)
           <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a>
         #else
           <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
         #end
       #end
     #end
    </font>
    <font color="black">ページに移動します。</font> <br>
    #if($result.hasPreviousPage())
      <a href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width="64" height="24" alt="前ページ" border="0"></a>
    #end

    #if($result.hasNextPage())
      <a href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width="64" height="24" alt="次ページ" border="0"></a>
    #end
    <br>
    <!-- 一覧用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableBackg">
     <tr>
      <td>
       <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
        <tr>
         <th>研究種目名</th>
         <th>学振受付期限</th>
         <th>応募者名</th>
         <th>部局名・職名</th>
         <th>研究者番号</th>
         <th>研究課題名</th>
         <th>作成日</th>
         <th>所属研究機関承認日</th>
         <th>応募情報又は研究計画調書確認</th>
         <th>応募状況</th>
        </tr>
        #foreach($info in $result.list)
          <tr>
           <td>平成$!escape.getText($!info.NENDO)年度 #if($info.KAISU.toString() != '1') 第$!escape.getText($!info.KAISU)回 #end $!escape.getText($!info.JIGYO_NAME)</td>
           ##<td>$!escape.getText($!dateFormat.format($!info.UKETUKEKIKAN_END))</td>
## 2006/7/19 liu jia 変更　ここから
            #set ($jigyoId =$!info.JIGYO_ID)
            #set($jigyoCd = $jigyoId.substring(2,7))
            #if($jigyoCd == '00022')
                <td>領域代表者確定締切日は$!escape.getText($!dateFormat.format($!info.RYOIKI_KAKUTEIKIKAN_END))です。</td>
            #else
                <td>$!escape.getText($!dateFormat.format($!info.UKETUKEKIKAN_END))</td>
            #end
## 2006/7/19 liu jia 変更　ここまで
           <td>
            <a href="javascript:onShinseishaData('$!info.SHINSEISHA_ID')">$!escape.getText($!info.NAME_KANJI_SEI) $!escape.getText($!info.NAME_KANJI_MEI)</a>
           </td>
           <td>$!escape.getText($!info.BUKYOKU_NAME_RYAKU) $!escape.getText($!info.SHOKUSHU_NAME_RYAKU)</td>
           <td>$!escape.getText($!info.KENKYU_NO)</td>
           <td>$!escape.getText($!info.KADAI_NAME_KANJI)</td>
           <td>$!escape.getText($!dateFormat.format($!info.SAKUSEI_DATE))</td>

## 20050622 特定領域と基盤は確定日を表示する
           <td>$!escape.getText($!dateFormat.format($!info.SHONIN_DATE))</td>
           ##if($!info.JIGYO_KUBUN.toString() == "4" || $!info.JIGYO_KUBUN.toString() == "5")
             ##<td>$!escape.getText($!dateFormat.format($!info.KAKUTEI_DATE))</td>
           ##else
             ##<td>$!escape.getText($!dateFormat.format($!info.SHONIN_DATE))</td>
           ##end
## Horikoshi
           ##応募状況(応募情報又は研究計画調書確認)
           <td>
            #if($info.JOKYO_ID != "02")
              <a href="javascript:onDownloadPdf('$!info.SYSTEM_NO')"><img src="$path/images/bt_download.gif" alt="ダウンロード" width="64" height="24" border="0"></a>
            #end
           </td>
           <td>
## 20050707
##2006/06/20 劉佳　更新ここから
             ##受理備考が入力されているか
             #if($info.JURI_BIKO && ($info.JOKYO_ID == "02" || $info.JOKYO_ID == "03" || $info.JOKYO_ID == "05" || $info.JOKYO_ID == "07" || ($info.JOKYO_ID == "04" && $info.SAISHINSEI_FLG == "1")))
               ##if($info.JIGYO_KUBUN.toString() == "1" || $info.JIGYO_KUBUN.toString() == "2" || $info.JIGYO_KUBUN.toString() == "3" || $info.JIGYO_KUBUN.toString() == "4" || $info.JIGYO_KUBUN.toString() == "5")
                 ##備考確認画面リンクを表示
                 <a href="javascript:onCommentConfirm('$!info.SYSTEM_NO')">
                 ##表示フラグを設定
                 #set($biko_flg = true)
               ##end
             #end
             $!escape.getText($info.JOKYO_NAME)
             #if($biko_flg)
               </a>
             #end
             #if(($info.JOKYO_ID == "01" || $info.JOKYO_ID == "02" || $info.JOKYO_ID == "03") && $info.RYOIKIKEIKAKUSHO_KAKUTEI_FLG.toString() =="1" || $!info.RYOIKI_KAKUTEIKIKAN_FLAG.toString() == "FALSE")
                <br> 領域代表者受付締切
             #end
##2006/06/20 劉佳　更新ここまで
## Horikoshi

## 2005/03/29 追加 ここから-------------------------------------
## 理由 認証ボタン表示条件変更
##    #if($info.SAISHINSEI_FLG =="1")
##        (再応募中)
##    #end
## 追加 ここまで------------------------------------------------
            <br>
            <!-- 応募状況:03[所属研究機関受付中] -->
            #if($info.JOKYO_ID == "03")
## 2005/03/09 追加 ここから-------------------------------------
## 理由 基盤研究の場合、承認ボタン表示

    ## 2005/03/29 追加 ここから-------------------------------------
    ## 理由 認証ボタン表示条件変更
## 20050617
##        #if($info.JIGYO_KUBUN.toString() != '4')
## 20060221
##        #if($info.JIGYO_KUBUN.toString() != '4' && $info.JIGYO_KUBUN.toString() != '5')
## Nae
## Horikoshi
## 2006/02/21 追加ここから
## 理由 認証ボタン表示条件変更
## 追加ここまで

## 2006/06/06 zhangjp 更新ここから
##       #if($info.JIGYO_KUBUN.toString() != '4' && $info.JIGYO_KUBUN.toString() != '5'&& $info.JIGYO_KUBUN.toString() != '6'&& $info.JIGYO_KUBUN.toString() != '7')
##               #if($info.UKETUKE_END_FLAG == "TRUE")
##               <a href="javascript:onShonin('$!info.SYSTEM_NO')"><img src="$path/images/bt_approve.gif" width=36 height=22 border="0" alt="承認"></a>
##             #elseif($info.SAISHINSEI_FLG == "1")
##               <a href="javascript:onShonin('$!info.SYSTEM_NO')"><img src="$path/images/bt_approve.gif" width=36 height=22 border="0" alt="承認"></a>
##            #end
##       #end
## 2006/06/06 zhangjp 更新ここまで

    ## 追加 ここまで------------------------------------------------

    ## 2005/03/29 削除 ここから-------------------------------------
    ## 理由 認証ボタン表示条件変更
    ##        #if($info.JIGYO_KUBUN != "4")
    ##           #if($info.UKETUKE_END_FLAG == "TRUE")
    ##               <a href="javascript:onShonin('$!info.SYSTEM_NO')"><img src="$path/images/bt_approve.gif" width=36 height=22 border="0" alt="承認"></a>
    ##             #elseif($info.SAISHINSEI_FLG == "1")
    ##               <a href="javascript:onShonin('$!info.SYSTEM_NO')"><img src="$path/images/bt_approve.gif" width=36 height=22 border="0" alt="承認"></a>
    ##            #end
    ##      #end
    ## 削除 ここまで------------------------------------------------

## 追加 ここまで------------------------------------------------
## 2005/03/09 削除 ここから-------------------------------------
## 理由 基盤研究の場合、承認ボタン表示
##             #if($info.UKETUKE_END_FLAG == "TRUE")
##             <a href="javascript:onShonin('$!info.SYSTEM_NO')"><img src="$path/images/bt_approve.gif" width=36 height=22 border="0" alt="承認"></a>
##           #elseif($info.SAISHINSEI_FLG == "1")
##             <a href="javascript:onShonin('$!info.SYSTEM_NO')"><img src="$path/images/bt_approve.gif" width=36 height=22 border="0" alt="承認"></a>
##          #end
## 削除 ここまで------------------------------------------------
              <a href="javascript:onKyakka('$!info.SYSTEM_NO')"><img src="$path/images/bt_reject.gif" width="36" height="22" border="0" alt="却下"></a>
            #end
           </td>
          </tr>
        #end
       </table>
      </td>
     </tr>
    </table>
    <!-- 一覧用テーブルここまで-->
    <br>
    <font color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    #foreach($page in $result.pageIndexs)
       #if($velocityCount == $result.currentPages)
         #if($velocityCount == $result.totalPages)
           <b> $!escape.getText($velocityCount)</b>
         #else
           <b> $!escape.getText($velocityCount)</b><font color="black">/</font>
         #end
       #else
         #if($velocityCount == $result.totalPages)
           <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a>
         #else
           <a href="javascript:onPageClick('$page')"> $!escape.getText($velocityCount)</a><font color="black">/</font>
         #end
       #end
    #end
    </font>
    <font color="black">ページに移動します。</font> <br>
    #if($result.hasPreviousPage())
      <a href="javascript:onPageClick('$!result.getStartOfPreviousPage()')"><img src="$path/images/bt_last.gif" width="64" height="24" alt="前ページ" border="0"></a>
    #end

    #if($result.hasNextPage())
      <a href="javascript:onPageClick('$!result.getStartOfNextPage()');"><img src="$path/images/bt_next.gif" width="64" height="24" alt="次ページ" border="0"></a>
    #end
    <br>
    <p align="left"><a href="javascript:onDownloadCsv()"><img src="$path/images/bt_csv.gif" width="114" height="28" alt="CSV出力" border="0"></a></p>
    <!-- 本文ここまで -->

    <!-- ボタン用テーブルここから -->
    ##2006/07/20 dyh 修正ここから 理由：「応募情報検索に戻る」ボタン下で空行がある
    ##<form method="POST" action="$link.setAction('/shozoku/shinseiJohoKanri/searchList')?startPosition=0">
    <div align="center">
     <table border="0" cellpadding="0" cellspacing="4">
      <tr>
       <td><a href="javascript:onBackClick()"><img src="$path/images/bt_bk_appsearch.gif" width="219" height="28" alt="応募情報検索に戻る" border="0"></a></td>
        ##<td><input type="image" name="$form.cancelName" src="$path/images/bt_bk_appsearch.gif" width="228" height="28" alt="応募情報検索に戻る" border="0"></td>
      </tr>
     </table>
    </div>
    ##</form>
    ##2006/07/20 dyh 修正ここまで
    <!-- ボタン用テーブルここまで -->
    <!-- サブ画面フッター用テーブルここから -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr bgcolor="#336699">
      <td width="8" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img1.gif" width="8" height="26" alt=""></td>
      <td align="right" background="$path/images/footer_img2.gif"><a href="$link.setAction('/shozoku/logoff')"><img src="$path/images/footer_logout.gif" alt="ログアウト" width="72" height="26" border="0"></a></td>
      <td width="8" align="right" background="$path/images/footer_img2.gif"> <img src="$path/images/footer_img3.gif" width="8" height="26" alt=""></td>
     </tr>
    </table>
    <!-- サブ画面フッター用テーブルここまで -->
    <!-- コンテンツエリアここまで -->
   </td>
   <td width="1" bgcolor="#CCCCCC"><img src="$path/images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
 </table>
 <!-- 左右の縦線用テーブルここまで -->
##隠しフォーム情報----------
<form name="shinsei_form" method="post" action="">
  <input type="hidden" name="systemNo" value="">
  <input type="hidden" name="screenFlg" value="2">
  <input type="hidden" name="shinseiDataInfo.systemNo" value="">
</form>

<form name="shinseisha_form" method="post" action="">
  <input type="hidden" name="shinseishaId" value="">
</form>

## 20050707
<form name="shinsei_form2" method="post" action="">
  <input type="hidden" name="systemNo" value="">
</form>
## Horikoshi

<form name="page_form" action="" method="post">
    <input type="hidden" name="startPosition" >
</form>

<form name="link_form" action="" method="post">
    <input type="hidden" name="$form.cancelName" value="">
    <input type="hidden" name="startPosition" >
</form>
##----------
</div>
</body>
</html>