<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "spring-beans.dtd">

<beans>

	<!-- Configurer that replaces ${...} placeholders with values from a properties file -->
	<!-- (in this case, JDBC-related settings for the dataSource definition below) -->
<!-- 
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>
				/WEB-INF/classes/et/config/datasoruce/jdbc.properties
			</value>
		</property>
	</bean>
 -->
	<!-- Local DataSource that works in any environment -->
	<!-- Note that DriverManagerDataSource does not pool; it is not intended for production -->
	<!--		class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
	<!-- 基本连接和dbcp连接池两种配置方式，现在用的是dbcp连接池 -->
<!--	<bean id="datasource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
	</bean>
 -->
	<!-- 声明性事物开始 -->
	<!-- hibernate事务配置 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- jdbc事务配置 -->
	<bean id="transactionJdbcManager"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource">
		<ref bean="datasource" />
	</property>
	</bean>

	<!-- 声明性事物结束 -->


	<!-- 自动代理生成开始-->
	<bean id="DAOBeanNameAutoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>*Impl,*Service</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>DAOInterceptor</value>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>
	<!-- 自动代理生成结束-->

	<!-- aop拦截取代template-->

	<bean id="hibernateInterceptor"
		class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- aop拦截取代template结束-->
	<bean id="DAOInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="BaseDao"
		class="excellence.framework.base.dao.impl.BaseDaoHibernateImpl"
		singleton="false">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>